.redirect-link.more:after {
  margin-left: 10px;
}
.posts-block-top {
  margin: 0 0 10px;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @media all and (max-width: 767px) {
    @include flex-direction(column);
  }
}
.posts-container {
  @include flexbox();
  @include justify-content(space-between);
  @media all and (max-width: 767px) {
    @include flex-direction(column);
    @include align-items(center);
  }
  .post-item {
    width: 31%;
    @extend %flexbox;
    @include flex-direction(column);
    background-color: $white;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #8c7036;
    position: relative;
    @media all and (max-width: 767px) {
      width: 65%;
      margin-bottom: 15px;
    }
    @media all and (max-width: 480px) {
      width: 95%;
      margin-bottom: 15px;
    }
    .noimg-block {
      margin: 0;
      padding: 20px 0;
      border: 0;
      border-bottom: 1px solid #e9e3d7;
    }
    .post-img {
      display: block;
      height: 200px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .post-info {
      padding: 20px 21px 32px;
      line-height: 1;
      color: $gray;
      position: relative;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      flex: 1;
      .post-info-title {
        font-family: $poppins;
        font-size: 17px;
        font-weight: $semi-bold;
        margin-bottom: 14px;
        color: $gray;
      }
      .post-info-desc {
        font-size: 13px;
        line-height: 20px;
        height: 80px;
        overflow: hidden;
        margin-bottom: 25px;
      }
      .post-info-address {
        font-size: 13px;
        line-height: 20px;
      }
      .post-info-date {
        font-size: 13px;
        font-weight: $bold;
        letter-spacing: 1.3px;
        text-transform: uppercase;
      }
      &.lh-26 {
        line-height: 26px;
      }
    }
  }
}
