.error404 {
  .content {
    flex: 1;
    @include flexbox();
    @include align-items(center);
    .block-title {
      margin-bottom: 17px;
    }
    .entry-content {
      margin-bottom: 42px;
    }
  }
  .navbar-form .form-group {
    display: inline-block!important;
  }
}
.error404-search {
  border: 2px solid #8c7036;
  padding: 2px 5px;
  left: inherit;
  right: 0;
  top: 110%;
  border-radius: 5px;
  max-width: 250px;
  margin: 30px auto 0;
}
.error404-search .navbar-form {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
.error404-search .navbar-form input {
  border: none;
  outline: none;
  box-shadow: none;
  height: inherit;
  padding: 8px 12px;
  width: 199px !important; }
.error404-search .navbar-form input::-webkit-input-placeholder {
  text-transform: uppercase; }
.error404-search .navbar-form input::-moz-placeholder {
  text-transform: uppercase; }
.error404-search .navbar-form input:-moz-placeholder {
  text-transform: uppercase; }
.error404-search .navbar-form input:-ms-input-placeholder {
  text-transform: uppercase; }
.error404-search .navbar-form .jiva-submit-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  @include transform(translateY(-50%));
  background-color: #8c7036;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 1;
  text-align: center;
  padding: 0;
  font-size: 15px; }
.error404-search.open, .error404-search.open:hover {
  background-color: #a38d5e; }
.error404-search.open a, .error404-search.open:hover a {
  color: #ffffff; }

.error404-message {
  width: 90%;
  margin: 0 auto;
  font-family: "poppins";
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}