.the-jv-method {
  background: url('../../images/jv-method-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding: 50px 0;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
  }
  .jv-method-title {
    margin-bottom: 18px;
  }
  .jv-method-desc {
    font-size: 28px;
    font-weight: $light;
    line-height: 46px;
    color: $gray;
    margin-bottom: 40px;
    p {
      margin-bottom: 10px;
    }
  }
}
.main-location {
  margin-bottom: 35px;
}
section.locations {
  margin-bottom: 50px;
  ul.sm-links {
    @media all and (max-width: 768px) {
      text-align: left;
    }
  }
  .content-title {
    margin: 11px 0 45px;
    padding: 0;
  }
  .jv-yoga-centers {
    margin-bottom: 45px;
  }
  .jv-aff-studios  {

    margin-bottom: 37px;
  }
  .redirect-link {
    @media all and (max-width: 480px) {
      width: 70%;
    }
  }
}
section.about-sharon-david {
  background-color: #abc386;
  .content-title {
    margin: 49px 0 39px;
    text-align: center;
    padding: 0;
  }
  .block-title-21 {
    margin-top: 54px;
    margin-bottom: 27px;
    text-align: left;
    @media all and (max-width: 480px) {
      line-height: 1.3;
    }

  }
  .ash-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;

  }
  .ash-desc {
    font-size: 15px;
    line-height: 26px;
    color: $white;
    margin-left: 24px;
    text-align: left;
    @media all and (max-width: 991px) {
      margin: 40px 0 0;
    }

    .ash-readmore {
      font-weight: $semi-bold;
      font-size: 15px;
      color: $white;
      position: relative;
      border-bottom: 1px solid $white;
      padding-bottom: 4px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  table.asd-table {
    width: 100% !important;
    border: 0;
    tr {
      &:nth-of-type(odd) {
        background-color: #97b16f;
      }
      &:nth-of-type(event) {
        background-color: #abc386;
      }
    }
    td {
      font-size: 15px;
      color: $white;
      border: 0;
      padding: 13px;
      text-align: left;
      &:first-child {
        font-weight: $bold;
        width: auto !important;
      }
    }
  }
  .jv-btn {
    margin: 30px 0 52px;
  }
}
section.prices {
  background: url('../../images/prices-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding: 50px 0;
  .white-bg {
    background-color: $white;
    padding: 0 50px 50px;
    @media all and (max-width: 767px) {
      width: 95%;
      padding: 25px 15px;
    }
  }
  h2 {
    margin-bottom: 50px;
    @media all and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
  h3 {
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: left;
  }
  .jv-btn {
    margin-top: 40px;
  }



  //.price-table {
  //  table {
  //    border: 1px solid #e6e6e6;
  //    border-radius: 5px;
  //    border-collapse: separate;
  //    width: 100% !important;
  //    margin-bottom: 0;
  //    tr {
  //      &:nth-of-type(odd) {
  //        background-color: #fafafa;
  //      }
  //      &:nth-of-type(event) {
  //        background-color: $white;
  //      }
  //      td {
  //        font-size: 15px;
  //        line-height: 26px;
  //        color: $gray;
  //        border-top: 0;
  //        padding: 10px;
  //        &:nth-child(1) {
  //          width: 50%!important;
  //          text-align: left;
  //          @media all and (max-width: 991px) {
  //            width: 41%!important;;
  //          }
  //        }
  //        &:nth-child(2),
  //        &:nth-child(3) {
  //          text-align: center;
  //        }
  //        a {
  //          font-family: "poppins", sans-serif, Helvetica;
  //          font-size: 13px;
  //          font-weight: 700;
  //          font-style: normal;
  //          color: #ffffff;
  //          text-transform: uppercase;
  //          letter-spacing: 1.4px;
  //          line-height: 1;
  //          background-color: #96b36b;
  //          padding: 9px 14px;
  //          outline: none;
  //          border: none;
  //          display: inline-block;
  //          cursor: pointer;
  //          text-decoration: none;
  //          border-radius: 5px;
  //          @include transition(.3s ease-in-out);
  //          &:hover, &:focus {
  //            color: $white;
  //            background-color: $h-green-btn;
  //          }
  //        }
  //        b, strong {
  //          font-weight: $semi-bold;
  //          display: block;
  //        }
  //      }
  //    }
  //  }
  //}
}
table.price-table {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  border-collapse: separate;
  width: 100% !important;
  margin-bottom: 0;
  tr {
    &:nth-of-type(odd) {
      background-color: #fafafa;
    }
    &:nth-of-type(event) {
      background-color: $white;
    }
    td {
      font-size: 15px;
      line-height: 26px;
      color: $gray;
      border-top: 0;
      padding: 10px;
      &:nth-child(1) {
        width: 52%!important;
        text-align: left;
        @media all and (max-width: 991px) {
          width: 41%!important;;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        vertical-align: middle;
        text-align: center;
      }
      a {
        font-family: "poppins", sans-serif, Helvetica;
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        line-height: 1;
        background-color: #96b36b;
        padding: 9px 14px;
        outline: none;
        border: none;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        @include transition(.3s ease-in-out);
        &:hover, &:focus {
          color: $white;
          background-color: $h-green-btn;
        }
      }
      h5 {
        font-family: $poppins;
        font-weight: $semi-bold;
        font-size: 15px;
        line-height: 26px;
        color: #666666;
      }
    }
  }
  &.gift {
    td:nth-child(2) {
      text-align: right;
    }
  }
}
.table-wrap {
  overflow-x: auto;
}

.post-type-archive-locations section.locations .jv-yoga-centers {
  margin-bottom: 0px;
}
.post-type-archive-locations .blog-container .blog-item {
  @include justify-content(flex-start);
}
.post-type-archive-classes {
  section.jv-classes {
    border: 0;
  }
}