.pagination-links {
  margin-bottom: 50px;
  text-align: center;
  @media all and (max-width: 991px) {
    margin-top: 26px;
  }
}
.page-numbers.prev, .page-numbers.next {
  font: {
    family: $poppins;
    size: 0;
    weight: $bold;
    style: normal;
  }
  width: 80px;
  text-align: center;
  outline: none;
  line-height: 1;
  padding: 12px 17px 12px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1.4px;
  border: {
    width: 2px;
    style: solid;
  }
  border-color: rgba(140, 113, 54, .8);
  color: $main-brawn;
  background-color: transparent;
  @include transition(.3s ease-in-out);
  @media all and (max-width: 450px) {
    width: 54px;
    padding: 5px 5px;
  }
  &:hover, &:focus {
    color: $white;
    background-color: $main-brawn;
    text-decoration: none;
  }
}
.prev {
  margin-right: 9px;
}
.next {
  margin-left: 9px;
}
.prev:before {
  content: 'Prev';
  font-size: 13px;
  text-transform: uppercase;
}
.next:before {
  content: 'Next';
  font-size: 13px;
  text-transform: uppercase;
}
.page-numbers {
  font-size: 13px;
  font-weight:  $bold;
  letter-spacing: 1.3px;
  color: $main-brawn;
  display: inline-block;
  padding: 0px 5px;
  vertical-align: middle;
  @media all and (max-width: 450px) {
    padding: 0 3px;
  }
  &.current {
    padding: 6px 8px 5px;
    background-color: #8c7036;
    color: white;
    line-height: 1;
    border-radius: 5px;
    &:hover, &:focus {
      color: $white;
    }
  }

  &:hover, &:focus {
    color: $main-brawn;
  }



}
/* FORM STYLES */
.form-control {
  height: 40px;
  width: 100%!important;
  padding: 6px 20px;
  border: 1px solid #e6e6e6;
  @include placeholder {
    font-weight: $medium;
    font-size: 13px;
    color: $light-gray;
  }
  &.half {
    width: 50%!important;
  }
}
select.form-control {
  font-size: 13px;
  color: $light-gray;
  font-weight: 500;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 10px;
  border-style: solid;
  border-color: #e9e9e9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url('../../images/select-arrow.png') no-repeat 97%;
  cursor: pointer;
  margin: 0;
  width: 100%;
}
.single-registration .title-group {
  margin-top: 52px;
}
.wide-image {
  height: 280px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 40px;
  display: block;
  //@media all and (max-width: 767px) {
  //  display: block;
  //}
}
.full-width-img {
  margin-bottom: 40px;
  display: none;
  img {
    display: none;
    height: auto;
    max-height: 280px;
    //height: 280px;
    width: 100%;
  }
  //@media all and (max-width: 767px) {
  //  display: none;
  //}
}
.noimg-block {
  opacity: .4;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  border: 1px solid #e9e3d7;
  margin: 20px 0 40px;
  img {
    height: 160px;
  }
}

.promotion-btn {
  position: fixed;
  right: 0;
  top: 27%;
  z-index: 10;
  font-weight: 600;
  letter-spacing: 1.3px;
  height: 66px;
  width: 77px;
  background-color: #b36c82;
  padding: 20px 12px;
  color: $white;
  line-height: 1.2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  &:hover, &:focus {
    color: $white;
  }
}

.single, .page {
  .noimg-block {
    padding: 60px;
  }
}

.itl-img-wrap {
  @media all and (min-width: 992px) {
    padding-right: 0;
  }

  .itl-img {
    height: 280px;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
  }
}
.itl-title {
  margin-bottom: 15px;
}
.itl-content {
  font-size: 15px;
  line-height: 26px;
  color: $gray;
  text-align: left;
  padding-left: 45px;
  @media all and (max-width: 991px) {
    padding: 40px 0 0;
  }
}
.brown-links {
  ul.sm-links {
    padding: 0;
    margin-left: -9px;
    margin-bottom: 28px;
  }
  ul.sm-links .sm-links-item .sm-links-link .sm-links-icon {
    color: $main-brawn;
    padding: 5px 9px;
    &:hover {
      background-color: #fafafa !important;
    }
  }
}
.have-questions-block {
  padding: 50px 0;
  .have-questions-title {
    margin-bottom: 25px;
  }
}

.readmore-white {
  font-weight: $semi-bold;
  font-size: 15px;
  color: $white;
  position: relative;
  border-bottom: 1px solid $white;
  padding-bottom: 1px;
  &:hover,&:focus {
    color: $white;
    opacity: 0.8;
  }
}

table {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  border-collapse: separate;
  max-width: 1040px!important;
  margin-bottom: 0;
  @media all and (max-width: 1199px) {
    max-width: 940px!important;
  }
  @media all and (max-width: 991px) {
    max-width: 720px!important;
  }
  @media all and (max-width: 767px) {
    width: 100%!important;
  }
  &.aligncenter {
    margin: 0 auto;
  }
  &.alignleft {
    margin-left: 0;
    margin-right: auto;
  }
  &.alignright {
    margin-left:  auto;
    margin-right: 0;
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #fafafa;
      }
      &:nth-of-type(event) {
        background-color: $white;
      }
      td {
        font-size: 15px;
        line-height: 26px;
        color: $gray;
        border-top: 0;
        padding: 10px;
        a {
          font-family: "poppins", sans-serif, Helvetica;
          font-size: 13px;
          font-weight: 700;
          font-style: normal;
          color: #ffffff!important;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          line-height: 1;
          background-color: #96b36b;
          padding: 9px 14px;
          outline: none;
          border: none;
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          border-radius: 5px;
          @include transition(.3s ease-in-out);
          &:hover, &:focus {
            color: $white;
            background-color: $h-green-btn;
          }
        }
        b, strong {
          font-weight: $semi-bold;

        }
      }
    }
  }
}
::-webkit-scrollbar:vertical {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
 padding: 0 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {

  height: 10px;
  width: 10px;
  background: transparent;
}
//div[id^='post-'], .bp-teachers-directory  {
//  min-height: 768px;
//}

#wrapper {
  min-height: 768px;
}



