.arhive-blog {
  .focus-moment-block {
    padding: 50px 0;
    margin-bottom: 35px;
  }
}
.blog-container {
  padding: 0 0 10px;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @media all and (max-width: 767px) {
    @include justify-content(center);
  }
  .blog-item {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    background-color: $white;
    border-radius: 5px;
    text-align: left;
    width: 31%;
    border: 1px solid #8c7036;
    margin-bottom: 40px;
    position: relative;
    &:nth-child(3n+1),&:nth-child(3n+2) {
      margin-right: 3.5%;
      @media all and (max-width: 767px) {
        margin-right: 0;
      }
    }
    @media all and (max-width: 767px) {
      width: 65%;
    }
    @media all and (max-width: 480px) {
      width: 95%;
    }
  }
  .noimg-block {
    margin: 0;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #e9e3d7;
  }
  .post-img {
    display: block;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .post-info {
    padding: 20px 18px 32px;
    line-height: 1;
    color: $gray;
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    flex: 1;
    .post-info-title {
      font-size: 17px;
      font-weight: $semi-bold;
      margin-bottom: 14px;
    }
    .post-info-desc {
      font-size: 13px;
      line-height: 20px;
      height: 80px;
      overflow: hidden;
      margin-bottom: 25px;
    }
    .post-info-date {
      font-size: 13px;
      font-weight: $bold;
      letter-spacing: 1.3px;
      text-transform: uppercase;
    }
  }
}