.blog-container {
  padding: 0 0 10px;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @media all and (max-width: 767px) {
    @include justify-content(space-between);
  }
  .blog-item {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: $white;
    border-radius: 5px;
    text-align: left;
    width: 31%;
    border: 1px solid #8c7036;
    margin-bottom: 40px;
    position: relative;
    &:nth-child(3n+1),&:nth-child(3n+2) {
      margin-right: 3.5%;
      @media all and (max-width: 767px) {
        margin-right: 0;
      }
    }
    @media all and (max-width: 767px) {
      width: 65%;
    }
    @media all and (max-width: 480px) {
      width: 80%;
    }
  }
}