.carousel
  ol.carousel-indicators
    bottom: 5px
    margin-left: -31%
    li
      width: 24px
      height: 24px
      background-color: rgba(255,255,255,0.5)
      margin-right: 25px
      border: none
      border-radius: 50%
      @media all and (max-width: 767px)
        margin-right: 20px
      &.active
        background-color: #fff
  .carousel-inner
    .item
      //height: 500px
      &:before
        content: none!important
      .fill
        height: 500px
        background-position: 50% 50%
        background-size: cover
        background-repeat: no-repeat
        @media all and (min-width: 1350px) and (max-width: 1366px)
          height: 380px
        @media all and (min-width: 1024px) and (max-width: 1025px)
          height: 445px
        @media all and (max-width: 991px)
          height: 400px
        @media all and (max-width: 767px)
          height: 250px
      .carousel-caption
        bottom: 77px
        @media all and (max-width: 767px)
          bottom: 47px
        .caption
          h1
            font-family: Trajan Pro
            font-size: 39px
            font-weight: 700
            margin-bottom: 29px
            color: $white
            @media all and (max-width: 767px)
              font-size: 26px
              margin-bottom: 18px
            @media all and (max-width: 480px)
              font-size: 18px
          .caption-button
            color: #fff
            font-size: 13px
            font-weight: 700
            text-transform: uppercase
            padding: 17px 28px
            border: 2px solid #adb2b0
            border-radius: 5px
            letter-spacing: 1.5px
            display: inline-block
          .slider-btn
            @media all and (max-width: 480px)
              padding: 10px
              width: 80%
    .carousel-control
      opacity: 1
      background-image: none
      top: 49%
      transform: translateY(-50%)
      bottom: inherit
      width: 9%
      cursor: pointer
      @media all and (max-width: 767px)
        width: 30px
      &:hover,
      &:focus
        opacity: .8
.owl-carousel

  .fill
    height: 500px
    background-position: 50% 50%
    background-size: cover
    background-repeat: no-repeat
    display: none
    //@media screen and (min-width: 2500px) and (max-width: 2600px)
    //  height: 380px
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
      height: 380px
    @media all and (min-width: 1200px) and (max-width: 1600px)
      height: 380px
    @media all and (min-width: 1024px) and (max-width: 1025px)
      height: 445px
    @media all and (max-width: 991px)
      height: 400px
    @media all and (max-width: 767px)
      height: 250px

  .carousel-caption
    bottom: 77px
    @media all and (max-width: 767px)
      bottom: 47px
    .caption
      h1
        font-family: Trajan Pro
        font-size: 39px
        font-weight: 700
        margin-bottom: 29px
        color: $white
        @media all and (max-width: 767px)
          font-size: 26px
          margin-bottom: 18px
        @media all and (max-width: 480px)
          font-size: 18px
      .caption-button
        color: #fff
        font-size: 13px
        font-weight: 700
        text-transform: uppercase
        padding: 17px 28px
        border: 2px solid #adb2b0
        border-radius: 5px
        letter-spacing: 1.5px
        display: inline-block
      .slider-btn
        @media all and (max-width: 480px)
          padding: 10px
          width: 80%
  .owl-nav
    position: absolute
    top: 37%
    width: 100%
    .owl-prev,.owl-next
      background: none
      &:hover
        background: none
        img
          opacity: .7
      @media all and (max-width: 767px)
        width: 40px
    .owl-prev
      float: left
      margin-left: 35px
      @media all and (max-width: 767px)
        margin-left: 0
    .owl-next
      float: right
      margin-right: 35px
      @media all and (max-width: 767px)
        margin-right: 0
  .owl-dots
    position: absolute
    bottom: 17px
    left: 50%
    @include transform(translateX(-50%))
    z-index: 15
    width: 60%
    padding-left: 0

    text-align: center
    list-style: none
    .owl-dot
      &:not(:last-of-type)
        margin-right: 16px
        @media all and (max-width: 480px)
          margin-right: 20px
      &.active
        span
          background-color: $white
      &:hover
        span
          background: $white
      span
        width: 16px
        height: 16px
        background: rgba(255, 255, 255, 0.5)
        border: none
        border-radius: 50%
        margin: 0

