.contact-us-template {
  ul.sm-links {
    padding: 0;
    margin-left: -9px;
    margin-bottom: 28px;
  }
  ul.sm-links .sm-links-item .sm-links-link .sm-links-icon {
    color: $main-brawn;
    padding: 5px 9px;
    &:hover {
      background-color: #fafafa !important;
    }
  }
  .contact-info {
    width: 80%;
    font-size: 17px;
    line-height: 28px;
    color: $gray;
    b,strong {
      font-weight: $semi-bold;
    }
    p {
      margin-bottom: 28px;
    }
  }
  #map {
    height: 400px;
    width: 100%;
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + span,
  [type="checkbox"]:checked + span {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    display: block;
    font-weight: $medium;
    font-size: 13px;
    color: $light-gray;
    line-height: 24px;
    margin-bottom: 16px;
  }
  [type="checkbox"]:not(:checked) + span:before,
  [type="checkbox"]:checked + span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 4px;
    //box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  [type="checkbox"]:not(:checked) + span:after,
  [type="checkbox"]:checked + span:after
  {
    font-family: FontAwesome;
    content: '\f00c';
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 19px;
    line-height: 0.8;
    color: $button-green;
    transition: all .2s;
  }
  [type="checkbox"]:checked + span:after
  {
    opacity: 1;
    transform: scale(1);
  }
  [type="checkbox"]:not(:checked) + span:after {
    opacity: 0;
    transform: scale(0);
  }


  .wpcf7 {
    span.your-name, span.your-email {
      width: 48%;
      display: block;
      margin-bottom: 22px;
    }
    .wpcf7-form-control-wrap {
      input {
        line-height: 40px;
      }
      textarea {
        padding-top: 15px;
      }
    }

    span.your-name {
      float: left;
    }
    span.your-email {
      float: right;
    }
  }
  .wpcf7-submit {
    font: {
      family: $poppins;
      size: 13px;
      weight: $bold;
      style: normal;
    }
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 1;
    background-color: $button-green;
    outline: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px 29px;
    @include transition(.3s ease-in-out);
    margin-bottom: 50px;
    &:hover {
      color: $white;
      background-color: $h-green-btn;
    }
  }
  .wpcf7-checkbox {
    .wpcf7-list-item {
      margin: 0;
    }
  }
  .wpcf7-recaptcha {
    margin-bottom: 28px;
  }
  div.wpcf7-response-output {
    margin: -28px 0 28px;
  }
}


