.events-block {
  background-color: $light-green;
  .event-container {
    @extend %flexbox;
    @include justify-content(space-between);
    padding: 0 70px 70px;
    .event-item {
      width: 30%;
      @extend %flexbox;
      @include flex-direction(column);
      @include justify-content(space-between);
      background-color: $white;
      border-radius: 5px;
      text-align: left;
      .event-img {
        display: block;
        padding-bottom: 67%;
        background: {
          size: cover;
          position: 50% 50%;
          repeat: no-repeat;
        }
      }
      .noimg-block {
        margin: 0;
        padding: 55px 0;
        border: 0;
        border-bottom: 1px solid #e9e3d7;
        img {
          height: 95px;
        }
      }

      .event-info {
        padding: 22px 20px 17px;
      }

      .event-name {
        font: {
          size: 17px;
          weight: $semi-bold;
        }
        color: $gray;
        line-height: 1.4 !important;
        a {
          color: $gray;
        }
        @-moz-document url-prefix() {
          font-weight: $medium;
        }
      }
      .event-i-item {
        margin-bottom: 8px;
        line-height: 1.6;
        span {
          display: block;
          font: {
            size: 13px;
            weight: $regular;
          }
        }
      }
    }
    .button-block {
      padding: 0 20px 30px;
    }
  }
  @media(max-width: 992px) {
    .event-container {
      padding: 35px 0 70px;
      .event-item {
        width: 32%;
      }
    }
  }
  @media(max-width: 767px) {
    .event-container {
      padding: 35px 0;
      @include flex-direction(column);
      @include align-items(center);
      .event-item {
        width: 65%;
        margin-bottom: 15px;
      }
    }
  }
  @media(max-width: 500px) {
    .event-container {
      .event-item {
        width: 100%;
      }
    }
  }
}

.template-landing-event {
  .event-info b {
    font-weight: $semi-bold;
  }
  .page-numbers.prev, .page-numbers.next {
    width: 80px;
    @media(max-width: 450px) {
      width: 54px;
    }
  }
  .events-block {
    background: none;
    .event-container {
      padding: 0 0 10px;
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
      @media all and (max-width: 767px) {
        @include justify-content(space-between);
      }
      .event-item {
        width: 31%;
        border: 1px solid #8c7036;
        margin-bottom: 40px;
        position: relative;
        &:nth-child(3n+1),&:nth-child(3n+2) {
          margin-right: 3.5%;
          @media all and (max-width: 767px) {
            margin-right: 0;
          }
        }
        @media all and (max-width: 767px) {
          width: 65%;
        }
        @media all and (max-width: 480px) {
          width: 95%;
        }

        a span {
          position:absolute;
          width:100%;
          height:100%;
          top:0;
          left: 0;
          z-index: 1;
        }
        .event-info {

        }
        .button-block {
          padding: 0 20px 40px;
          .jv-btn-green {
            position: absolute;
            bottom: 18px;
            z-index: 9;
            margin-top: 20px;
          }
        }
        .event-img {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;

        }
      }
    }
  }
  .filter-block {

    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 40px;
    .years-filter {
      width: 36%;
      padding: 9px 0;
      @include flexbox();
      list-style-type: none;
      margin-bottom: 0;

      a:not(:last-child):not(:first-child) {
        margin-right: 13px;
        @media(max-width: 480px) {
          margin-right: 0;
        }
      }
      @media(max-width: 1200px) {
        width: 100%;
      }
      @media(max-width: 767px) {
        width: 80%;
        margin: 0 auto;
      }
      @media(max-width: 480px) {
        width: 100%;
        @include justify-content(space-between);
      }
      a.upcoming-events {
        position: relative;
        &:after {
          content: '';
          width: 0;
          height: 106%;
          position: absolute;
          border-left: 1px solid #ccc;
          top: -3px;
          left: 100px;
          @media(max-width: 480px) {
            content: none;
          }
        }
      }
      .past-events-title {
        margin-left: 41px;
        margin-right: 18px;
        font-weight: $regular;
        font-size: 15px;
        color: $gray;
        @media(max-width: 480px) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      a {
        font-size: 15px;
        font-weight: $semi-bold;
        color: $gray;
        &.active {
          color: $main-brawn;
        }
        &:hover {
          color: $main-brawn;
        }
      }
    }

    form {
      width: 61%;
      @media(max-width: 1200px) {
        width: 100%;
      }
      @media(max-width: 767px) {
        text-align: center;
      }
      .form-group {
        width: 41%;
        margin-right: 9px;
        @media(max-width: 767px) {
          width: 80%;
          margin: 12px auto;
        }

      }
      .form-control {
        height: 40px;
        width: 100%;
        padding: 6px 20px;
        font-size: 13px;
        font-weight: $medium;
        color: $light-gray;
        border: 1px solid $main-brawn;

        @include placeholder {
          font-weight: $medium;
          font-size: 13px;
          color: $light-gray;

      }

      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff url('../../images/select-arrow.png') no-repeat 95%;
        cursor: pointer;
        option:disabled {
          background-color: rgba(128, 128, 128, 0.47);
        }
      }
      button {
        padding: 14px 19px;
        line-height: 12px;
      }
      #event-cat-dropdown {
        text-align: left;
        background: #fff url('../../images/select-arrow.png') no-repeat 95%;
      }

      .dropdown-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        cursor: pointer;

        li {
          padding: 15px;
          font-size: 13px;
          background-color: #ffffff;
          color: #a38d5e;
          text-transform: none;
          @include transition(0.3s ease-in-out);
          &:hover {
            background-color: #a38d5e;
            color: #ffffff;
          }
        }
      }

    }
  }

}
.single-events {
  .event-img-wrap {
    @media all and (min-width: 992px) {
      padding-right: 0;
    }

    .event-img {
      height: 292px;
      width: 100%;
      background-position: 50% 50%;
      background-size: cover;

      border-radius: 5px;
    }
  }
  .single-event-info {
    margin-bottom: 47px;
    .event-desc {
      font-size: 15px;
      color: $gray;
      line-height: 26px;
      padding: 19px 25px 0;
      @media all and (max-width: 991px) {
        text-align: center;
      }
      .event-to, .event-location {
        margin-bottom: 13px;
      }
      .event-price {
        margin-bottom: 32px;
      }

    }
    .btn-sign-up {
      display: block;
      width: 128px;
      line-height: 49px;
      padding: 0;
      text-align: center;
      @media all and (max-width: 991px) {
        margin: 0 auto;
      }
    }
  }

}
input[disabled] {
  cursor: not-allowed;
}
.form-control[disabled] {
  background-color: #eee!important;
  opacity: 1;
}
