.focus-moment-block
  background-color: $month-block
  .image-block
    background:
      size: cover
      position: 50% 50%
      repeat: no-repeat
    border-radius: 5px
    padding-bottom: 50%
    margin-left: 50px
  .description-block
    padding-left: 30px
    color: $gray
    font:
      size: 15px
      weight: $regular
      family: $poppins
    line-height: 1.9
    width: 90%

    .title-group
      margin-bottom: 26px

  .date-month
    font:
      size: 13px
      weight: $bold
    text-transform: uppercase
    letter-spacing: 1.3px
    line-height: 1
  .date-moment
    margin-bottom: 14px
  @media(max-width: 1199px)
    .image-block
      margin-left: 0
      padding-bottom: 60%

    .description-block
      width: 100%

  @media(max-width: 991px)
    .description-block
      padding-left: 0

  @media(max-width: 767px)
    .image-block
      margin-bottom: 25px
