
footer.footer {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  width: 100%;
  padding: 70px 0 0;
  background-color: $main-brawn;
  a:not(.copyright-link){
    &:after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      @include transition(.3s ease-in-out);
      background-color: transparent;
    }
    &:hover:after {
      background-color: $white;
    }


  }
  .contacts-wrap a:after {
    content: none;
  }
  @media(max-width: 768px){
    //text-align: center;
  }
  ul.footer-widgets-list {
    padding: 0;
    li.emma-widget {
      list-style-type: none;
      @media(max-width: 992px){
        margin-bottom: 30px;
      }
      .emma-status:not(.emma-alert) {
        background : #eaf0e1;
        border : 0;
        font-style: normal;
        &:before {
          top: 11px;
          left: 13px;
          background: #96b26e;
        }
        &:after {
          top: 14px;
          left: 23px;
          border: 3px solid #fff;
          border-top: none;
          border-left: none;
        }

      }
      .emma-alert {
        background: #f0e2e6;
        border: 0;
        font-style: normal;
      }

      .emma-alert:before {
        top: 50%;
        left: 13px;
        @include transform(translateY(-50%));
        background: #b26d82;
        font-size: 20px;
        line-height: 30px;
      }

      .widget-title {
        font-family: $poppins;
        font-weight: $light;
        font-size: 30px;
        color: $white;
        text-align: center;
        line-height: 1;
        margin: 0;
      }

      b{
        font-weight: $medium;
      }
      form {
        ul#emma-form-elements {
          text-align: center;
          .emma-form-row {
            width: 100%;
          }
          .emma-form-label {
            display: none;
          }
          .emma-form-input {
            width: 100%;
            max-width: 300px;
            margin: 10px 0 19px;
            padding: 11px 20px;
            font-size: 13px;

            font-weight: $semi-bold;
            letter-spacing: 2px;
            border-radius: 5px;
            border: none;
            text-align: center;
            outline: none;
            line-height: 1.4;
            color: $gray;
            float: none;
            &::-webkit-input-placeholder {
              font-weight: $regular;
              color: #cccccc;
              text-transform: uppercase;
            }
            &::-moz-placeholder {
              font-weight: $regular;
              color: #cccccc;
              text-transform: uppercase;
            }
            &:-moz-placeholder {
              font-weight: $regular;
              color: #cccccc;
              text-transform: uppercase;
            }
            &:-ms-input-placeholder {
              font-weight: $regular;
              color: #cccccc;
              text-transform: uppercase;
            }
          }

          input[name="emma_form_submit"] {
            font: {
              family: $poppins;
              size: 13px;
              weight: $bold;
              style: normal;
            }
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            line-height: 1;
            background-color: $button-green;
            outline: none;
            border: none;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            border-radius: 5px;
            padding: 13px 29px;
            @include transition(.3s ease-in-out);
            &:hover {
              color: $white;
              background-color: $h-green-btn;
            }
          }
        }
      }
    }
  }
  .menu-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @media(max-width: 768px){
      display: inline-block;
      text-align: left;
      box-sizing: border-box;
    }
    li.menu-item-has-children {
      width: 50%;
      float: left;
    }
    .sub-menu {
      padding: 0;
      list-style-type: none;
      a {
        display: inline-block !important;
      }
    }
    .menu-item {
      padding: 0;
      line-height:  0;

      > a {
        position: relative;
        display: inline-block;
        color: $white;
        font-family: $poppins;
        font-size: 13px;
        font-weight: $regular;
        line-height:  30px;
        text-decoration: none;
        opacity: .9;
        display: none;
      }


    }

    .current-menu-item {

      > a:after {
        background-color: #ffffff;
      }
    }
  }
  .organization-name {
    font: {
      family: $trajanPro;
      size: 17px;
      weight: bold;
    }
    letter-spacing: 1.7px;
    color: $white;

    margin: 0 0 17px;
    @media all and (max-width: 991px){
      font-size: 13px;
    }
    @media all and (max-width: 767px){
      text-align: left;
      font-size: 16px;
      margin: 19px 0 11px;
    }
  }
  .contacts-wrap{
    //@media(max-width: 768px){
    //  max-width: 230px;
    //  margin: 0 auto;
    //}
  }
  ul.contact-data {
    margin: 0;
    padding: 0;
    list-style-type: none;


    //@media(max-width: 500px){
    //  width: 300px;
    //  display: block;
    //  margin: 0 auto;
    //}
    li.contact-data-item {
      position: relative;
      margin-bottom: 20px;
      @media all and (max-width: 991px){
        margin-bottom: 13px;
      }
      a {
        padding-left: 24px;
        display: inline-block;
        color: $white;
        opacity: .9;
        font-size: 13px;
        //@extend %flexbox;
        text-decoration: none;
        @media all and (max-width: 991px){
          font-size: 14px;
        }
        @media all and (max-width: 767px){
          font-size: 13px;
        }
      }
      
    }

    .contact-data-icon {
      position: absolute;
      left: 0;
      top: 0;
      color: $white;
      margin-right: 8px;
      font-size: 18px;
    }
  }


}
ul.sm-links {
  margin: 0;
  padding: 0 0 0 18px;
  list-style-type: none;
  @media(max-width: 767px){
    padding: 0;
    text-align: center;
  }
  @media(max-width: 767px){

      text-align: left;
      margin-left: -15px;

    padding: 0;

  }
  .sm-links-item {
    display: inline-block;
    &:not(:last-of-type){
      margin-right: 0px;
    }
    .sm-links-link {
      font-size: 0;
      line-height: 0;
      .sm-links-icon {
        font-size: 18px !important;
        color: $white;
        min-width: 25px;
        height: 25px;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        background-color: transparent;
        @include transition(.3s ease-in-out);
        &:hover{
          background-color: rgba(255,255,255,.2);
        }
      }
    }
  }
}
footer ul.sm-links .sm-links-item .sm-links-link .sm-links-icon {
  @media(max-width: 767px){
    padding: 0;
    margin: 0 7px;
  }

}
