.redirect-link {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $main-brawn;
  display: inline-block;
  margin: 16px 0;
  cursor : pointer;
  &:hover, &:focus {
    color: $main-brawn;
    opacity: 0.8;
  }
  &.back {
    @media all and (max-width: 767px){
      margin: 18px 0 27px;
    }
    &:before {
      content: '';
      display: inline-block;
      background: url('../../images/angle-left.png') no-repeat;
      width: 8px;
      height: 14px;
      margin-right: 5px;
      vertical-align: top;
    }
  }
  &.more {
    font-weight: $bold;
    &:after {
      content: '';
      display: inline-block;
      background: url('../../images/angle-right.png') no-repeat;
      width: 8px;
      height: 14px;
      vertical-align: top;
      margin-left: 4px;
    }
  }
}
.audioplayer-container {
  background-color: #e8e2d7;
  width: 50%;
  @media all and (max-width: 991px){
    width: 100%
  }
  @media all and (max-width: 480px){
    //width: 109%
    width: calc(100% + 30px);
    margin: 0 -15px;
  }
  #audioplayer {
    height: 60px;
    background-color: $white;
    border-radius: 5px;
    width: 100%;
    padding: 18px 20px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    @media all and (max-width: 480px){
      padding: 10px;
    }

    .rew {
      background: transparent url('../../images/player-backward.png') 50% 50% no-repeat;
      width: 20px;
      height: 14px;
      cursor: pointer;
    }
    .play {
      background: transparent url('../../images/player-play.png') 50% 50% no-repeat;
      width: 17px;
      height: 24px;
      cursor: pointer;
    }
    .pause {
      background: transparent url('../../images/pause.png') 50% 50% no-repeat;
      width: 17px;
      height: 24px;
      cursor: pointer;
      display: none;
    }
    .fwd {
      background: transparent url('../../images/player-forward.png') 50% 50% no-repeat;
      width: 20px;
      height: 14px;
      cursor: pointer;
    }
    .volume {
      @include flexbox();
      @include align-items(center);
      @media all and (max-width: 991px){
        display: none;
      }
    }
    .volume-icon {
      background: transparent url('../../images/player-volume.png') 50% 50% no-repeat;
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
    .volume-slider {
      width: 80px;
      border: 0;
      height: 4px;
      background: #e8e2d7;
      border-radius: 0;
      cursor: pointer;
      @media all and (max-width: 480px){
        width: 55px;
      }
      .ui-slider-range {
        background: $main-brawn;
        border-radius: 0;
      }
      .ui-slider-handle {
        width: 14px;
        height: 14px;
        border: 0;
        background-color: #8c7036;
        border-radius: 50%;
        outline : none;
        cursor: pointer;
      }
    }
    .tracker {
      width: 43%;
      border: 0;
      height: 4px;
      background: #e8e2d7;
      border-radius: 0;
      cursor: pointer;
      @media all and (max-width: 991px){
        width: 73%;
      }
      @media all and (max-width: 480px){
        width: 59%;
      }
      .ui-slider-range {
        background: $main-brawn;
        border-radius: 0;

      }
      .ui-slider-handle {
        display: none;
      }
    }
  }

  .visible {
    display: block!important;
  }
  .hidden {
    display: none!important;
  }
}

.single-blog {
  .title-group {
    margin-bottom: 20px;
  }
  .post-type-title {
    font: {
      family: $trajanPro;
      size: 21px;
      weight: $bold;
    };
    line-height: 1;
    color: $main-brawn;
    margin: 0 0 16px;
  }
  .post-date {
    font-size: 15px;
    color: $gray;
    margin: 20px 0 0;
  }
  .wide-image {
    height: 280px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 40px;

  }
  .sutra-block {
    background-color: #e8e2d7;
    border-radius: 5px;
    font-size: 15px;
    color: $main-brawn;
    line-height: 26px;
    .sutra-item {
      padding: 25px 19px 19px;
      border-bottom: 2px solid #fff;
      .sutra-title {
        font-weight: $semi-bold;
        margin-bottom: 12px;
      }
      .sutra-text {
        color: $main-brawn;
        margin-bottom: 16px;
      }
      .sutra-author {
        font-size: 13px;
        text-align: right;
      }
    }
    .sutra-audio {
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      padding: 30px 20px 20px;
      @media all and (max-width: 991px){
        @include flex-direction(column);
      }
      .audio-desc {
        padding-right: 25px;
        width: 50%;
        @media all and (max-width: 991px){
          width: 100%;
          padding-bottom: 15px;
        }
      }
    }
    p {
      margin-bottom: 10px;
    }
    a {
      font-weight: 600;
      color: #666666;
      &:hover {
        color: #8c7036;
      }
    }
  }
  .entry-content {
    font-size: 15px;
    line-height: 26px;
    color: $gray;
    padding: 33px 0 0px;
    //p:not(:last-of-type) {
    //  margin-bottom: 12px;
    //}
    h2 {
      margin-bottom: 22px;
    }


  }
  .teachers-tips-block {
    margin: 32px 0 0;
    padding-bottom: 32px;
  }
  .teachers-tips-list {
    font-size: 15px;
    line-height: 26px;
    color: $gray;
    ul {
      padding: 0 85px 0 0;
      @media all and (max-width: 991px) {
        padding: 0;
      }
      li {
        list-style-type: none;
        margin-bottom: 10px;
        &:before {
          content: url('../../images/brown_point.png');
          position: relative;
          top: -2px;
          padding-right: 13px;
        }
        p {
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }
    ol {
      padding: 0 85px 0 0;
      @media all and (max-width: 991px) {
        padding: 0;
      }
      li {
        margin-bottom: 10px;
        p {
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }


    p {
      margin-bottom: 10px;
    }
    a {
      font-weight: 600;
      color: #666666;
      &:hover {
        color: #8c7036;
      }
    }
  }

  .teacher-info {
    margin-right: -15px;
    .teacher-avatar {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin: 0 auto 18px;
      display: block;
    }
    .teacher-name {
      font-size: 17px;
      font-weight: $semi-bold;
      line-height: 1;
      text-align: center;
      a {
        color: black;
      }
    }
  }
  .shop-title {
    padding-top: 50px;
    border-top: 2px solid #d1c6af;
  }
}