$white:         #ffffff
$month-block:   #f9f8f5
$lighter-gray:  #f9f8f5
$line-gray:     #eeeae2
$light-gray:    #999999
$gray:          #666666
$darkest-gray:  #333333
$color-black:   #000000
$main-brawn:    #8c7036
$light-brawn:   #a38d5e
$light-green:   #abc289
$button-green:  #96b36b
$h-green-btn: #7c9459

$thin: 100
$extra-light: 200
$light: 300
$regular : 400
$medium: 500
$semi-bold: 600
$bold: 700
$extra-bold: 800
$black: 900


/*Fonts*/

$poppins: 'poppins',sans-serif,Helvetica
$trajanPro: 'Trajan Pro',sans-serif,Helvetica
$trajanPro3: 'Trajan Pro 3',sans-serif,Helvetica



/*styles*/
html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  font-weight: 400
  height: 100%
@-moz-document url-prefix()
  body
    font-weight: lighter !important



body
  font:
    family: $poppins,sans-serif
    size: 16px
    weight: $regular
  position: relative
  //@include flexbox
  //@include flex-direction(column)
  min-height: 100%
  @media(max-width: 991px)
    margin-top: 0!important


a
  text-decoration: none
  @include transition(.3s ease-in-out)
  &:hover, &:focus
    text-decoration: none

img
  max-width: 100%
p
  margin-bottom: 0

h1
  font:
    family: $trajanPro
    size: 39px
    weight: $bold
  color: $main-brawn
  margin: 0
  line-height: 1.3
h2
  font:
    family: $trajanPro
    size: 26px
    weight: $bold
  color: $main-brawn
  margin: 0
  line-height: 1.3
h3
  font:
    family: $trajanPro
    size: 21px
    weight: $bold
  color: $main-brawn
  margin: 0
  line-height: 1.3
h4,h5,h6
  font:
    family: $poppins
    size: 17px
    weight: $semi-bold
  color: $gray
  margin: 0
  line-height: 1.2

.padding-block
  padding: 70px 0
  @media(max-width: 767px)
    padding: 50px 0
.block-title
  font:
    family: $trajanPro
    size: 39px
    weight: $bold
  display: block
  text-align: center
  margin: 0
  letter-spacing: 0
  line-height: 1.3

  &.template-title
    margin: 50px 0 40px
  @media all and (max-width: 450px)
    font-size: 29px


.brown
  color: $main-brawn
.white
  color: $white

.content-title
  font:
    family: $trajanPro
    size: 26px
    weight: $bold
  line-height: 1.3
  display: block
  margin: 0 0 20px
  padding-top: 5px


.post-type-title
  font:
    family: $trajanPro
    size: 21px
    weight: $bold
  line-height: 1.3
  margin: 0 0 16px


.page-titles .post-type-title
  @media all and (max-width: 767px)
    margin: 0 0 6px!important

.block-title-21
  font:
    family: $trajanPro
    size: 21px
    weight: $bold
  line-height: 1.3
  margin: 0 0 35px

.content-description
  font:
    family: $poppins
    size: 28px
    weight: $thin
  color: $light-gray
  display: block
  text-align: center
  margin-bottom: 30px
  line-height: 1.5
.title-description
  font:
    family: $poppins
    size: 17px
    weight: $regular
  color: $gray
  text-align: center
  width: 40%
  margin: 12px auto 0
  line-height: 1.6
  letter-spacing: .7px
  @media( max-width: 1200px )
    width: 50%
  @media( max-width: 991px )
    width: 70%!important
  @media( max-width: 767px )
    font-size: 15px
    width: 100%!important
.jv-btn
  font:
    family: $poppins
    size: 13px
    weight: $bold
    style: normal
  outline: none
  line-height: 1
  padding: 16px 29px 16px
  text-transform: uppercase
  display: inline-block
  border-radius: 5px
  cursor: pointer
  text-decoration: none
  letter-spacing: 1.4px
  @include transition(.3s ease-in-out)
  &:hover, &:focus
    text-decoration: none

.btn-border
  border:
    width: 2px
    style: solid

.btn-braun
  border-color: rgba(140,113,54,.8)
  color: $main-brawn
  background-color: transparent
  &:hover, &:focus
    color: $white
    background-color: $main-brawn
.btn-white
  border-color: rgba(255,255,255,.9)
  color: $white
  background-color: transparent
  &:hover, &:focus
    color: $main-brawn
    background-color: rgba(255,255,255,.9)
    text-shadow: none



.jv-btn-green
  font:
    family: $poppins
    size: 13px
    weight: $bold
    style: normal
  color: $white
  text-transform: uppercase
  letter-spacing: 1.4px
  line-height: 1
  background-color: $button-green
  padding: 9px 13px
  outline: none
  border: none
  display: inline-block
  cursor: pointer
  text-decoration: none
  border-radius: 5px
  &:hover, &:focus
    color: $white
    background-color: $h-green-btn



.btn-wide
  width: 100%
  padding: 18px 0


.border-bottom
  border-bottom: 2px solid rgba(0,0,0,.1)

.title-group
  margin-bottom: 52px



.read-more-btn
  font:
    family: $poppins
    size: 15px
    weight: $semi-bold
  color: $gray
  position: relative
  border-bottom: 1px solid #666666
  padding-bottom: 4px
  //&:after
  //  content: ''
  //  position: absolute
  //  bottom: -5px
  //  left: 0
  //  right: 0
  //  display: block
  //  height: 1px
  //  background-color: $gray
  &:hover,&:focus
    color: $gray
    opacity: .9
    text-decoration: none




.yoga-practices
  color: $white
  padding: 30px 0 25px 30px
  font:
    size: 13px
    weight: $regular
  letter-spacing: 1px
  line-height: 1.9

  a
    color: $white
    position: relative
    line-height: 1.9
    &:after
      bottom: -4px!important
  @media(max-width: 1199px)
    text-align: center

  @media(max-width: 992px)
    padding: 30px 0



.entry-content
  font-size: 15px
  line-height: 26px
  letter-spacing: 0
  color: #666666
  margin-bottom: 35px
  a
    font-weight: $semi-bold
    color: $gray
    &:hover
      color: $main-brawn
  p
    margin-bottom:  10px

.copyright-block
  border-top: 1px solid rgba(255,255,255,.5)
  padding: 20px 0
  .copy-list
    @extend %flexbox
    @include justify-content(center)
    list-style-type: none
    color: $white
    font-size: 12px
    font-weight: $regular
    margin: 0
    @media all and (max-width: 767px)
      @include justify-content(flex-start)
      text-align: left
      padding-left: 4px
    .copy-item
      padding: 0 10px
      line-height: 1
      &:last-of-type
        border-left: 1px solid $white
    a
      color: $white



img.alignright
  float: right
  margin: 0 0 1em 1em
img.alignleft
  float: left
  margin: 0 1em 1em 0
img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto
a img.alignright
  float: right
  margin: 0 0 1em 1em
a img.alignleft
  float: left
  margin: 0 1em 1em 0
a img.aligncenter
  display: block
  margin-left: auto
  margin-right: auto

.template-title-group
  margin-bottom: 40px

.body-padding
  @media(min-width: 992px)
    padding-top: 89px

.semi-bold
  font-weight: $semi-bold