.site-header
  border-bottom: 2px solid rgba(140,112,54,.2)
  position: relative
  .site-logo
    height: 83px
    padding: 6px 0
    @extend %absolute-centered
    img
      height: 100%
      &.big-logo
        display: none
      &.small-logo
        display: block

  .nav-header
    background-color: $white
    font-size: 13px
    text-transform: uppercase
    @extend %dev-nav-header

    .navbar-collapse.collapse
      position: relative

      .head-search
        position: absolute
        right: 0
        cursor: pointer
        @include size(60px,100%)
        &.open
          background-color: rgba(0,0,0,.1)
        a
          color: $light-brawn
          padding: 33px 15px 28px
          display: block
          font-size: 16px
          text-align: center
        .dropdown-menu
          border: 2px solid $main-brawn
          padding: 2px 5px
          left: inherit
          right: 0
          top: 110%
          border-radius: 5px
          &:before
            content: ''
            width: 10px
            border:
              bottom: 6px solid $main-brawn
              left: 6px solid transparent
              right: 6px solid transparent
            position: absolute
            top: -8px
            right: 22px
            display: inline-block

        .navbar-form
          margin: 0
          padding: 0
          @extend %flexbox
          @include align-items(center)
          input
            border: none
            outline: none
            box-shadow: none
            height: inherit
            padding: 6px 12px
            width: 199px!important
            &::-webkit-input-placeholder
              text-transform: uppercase
            &::-moz-placeholder
              text-transform: uppercase
            &:-moz-placeholder
              text-transform: uppercase
            &:-ms-input-placeholder
              text-transform: uppercase

          .jiva-submit-btn
            background-color: $main-brawn
            color: $white
            @include size(30px,30px)
            line-height: 1
            text-align: center
            padding: 0
            font-size: 15px
        &.open,&.open:hover
          background-color: $light-brawn
          a
            color: $white

      .head-navbar
        width: 100%
        padding-right: 45px
        //.hover-parent a
        //  background-color: $light-brawn
        //  color: $white
        li
          @include transition(.3s ease-in-out)
          &:nth-child(4)
            float: right
            ul.dropdown-menu
              left: inherit
          &:nth-child(5),
          &:nth-child(6)
            float: right
          &.active,&.open, &.current-menu-parent
            a
              background-color: $light-brawn
              color: $white


          .dropdown-menu
            right: 0
            z-index: 1000
            min-width: 250px
            padding: 0
            border: 0
            li
              padding: 0
              float: none

              a
                padding: 15px
                font:
                  size: 13px
                background-color: $white
                color: $light-brawn
                text-transform: none
                &:hover
                  background-color: $light-brawn
                  color: $white

        a
          color: $light-brawn
          padding: 35px 27px
          line-height: 1
          font-weight: $regular
          letter-spacing: 2px

          &:hover, &:focus
            background-color: $light-brawn
            color: $white
      @media(max-width: 1200px)
        .head-navbar
          li
            a
              padding: 35px 18px
              letter-spacing: 1px
              font-weight: $light
  @media(max-width: 991px)
    border-bottom: none
    position: fixed
    right: 0
    top: 0
    left: 0
    z-index: 1000
    .site-logo
      display: none
    .nav-header
      background-color: transparent
      .container
        width: 100%!important
        .icon-bar
          background-color: $main-brawn
          height: 3px
      .navbar-collapse.collapse
        @include size(0,100vh!important)
        position: absolute
        top: 0
        right: 0
        padding: 15px
        max-height: 100vh!important
        overflow: auto!important
        display: block!important
        @include transition(.32s ease-in-out)
        @include transform(translateX(300px))
        background-color: $main-brawn
        z-index: 1000
        .head-navbar
          padding-right: 0
          li
            margin: 0
            float: none
            letter-spacing: 0
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6)
              float: none
              margin: 0
            &.active
              &>a
                //background-color: transparent
                text-decoration: none
            .dropdown-menu
              position: initial
              float: none
              width: auto
              margin-top: 0
              background-color: $main-brawn
              border: 0
              -webkit-box-shadow: none
              box-shadow: none
              //display: block!important
              padding: 0 0 0 30px
              text-transform: capitalize
              li
                a
                  color: $white
                  background-color: $main-brawn
            a
              color: $white
              padding: 15px
        &.in

          width: 300px
          @include transform(translateX(0))
          padding-bottom: 50px
        .head-search
          position: initial
          max-height: 60px
          width: 100%
          &>a
            display: none
          .dropdown-menu
            display: block!important
            position: initial!important
            margin: 15px 15px
  &.is-home
    border-bottom: none
    .site-logo
      height: 142px
      padding: 16px 0
      position: initial
      @include transform(translateX(0))
      img
        &.big-logo
          display: inline
          margin: 0 auto
        &.small-logo
          display: none

    .nav-header
      background-color: $main-brawn
      .navbar-collapse.collapse
        .head-navbar
          li
            &.active
              &>a
                //background-color: rgba(0,0,0,.15)
            &.menu-item-home > a
              background-color: inherit
            &.open
              .dropdown-menu
                border:
                  right: 1px solid $main-brawn
                  left: 1px solid $main-brawn
                  bottom: 1px solid $main-brawn
                  top: 0
                  radius: 0
              &>a
                background-color: rgba(255,255,255,.25)
                &:hover,&:focus,&:active
                  background-color: rgba(255,255,255,.25)
            a
              color: $white
              padding: 25px 27px


              &:hover,&:focus,&:active
                background-color: rgba(0,0,0,.15)
          .dropdown-menu
            li
              a
                &:hover
                  background-color: $main-brawn
        .head-search
          a
            color: $white
            padding: 21px 15px
        @media(max-width: 1200px)
          .head-navbar
            li
              a
                padding: 25px 18px
      @media(max-width: 991px)
        background-color: transparent

    &.menu-fixed-top
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 1000
      border-bottom: 2px solid rgba(140,112,54,.2)

      .site-logo
        height: 83px
        padding: 6px 0
        @extend %absolute-centered
        img
          &.big-logo
            display: none
          &.small-logo
            display: block

      .nav-header
        background-color: $white
        .navbar-collapse.collapse

          .head-search
            &.open,&.open:hover
              background-color: $light-brawn
              a
                color: $white
            a
              color: $light-brawn
              padding: 33px 15px 28px
          .head-navbar
            .hover-parent a
              background-color: $light-brawn
              color: $white
            li
              &.active,&.open
                a
                  //background-color: $light-brawn
                  //color: $white

              .dropdown-menu
                margin-top: -1px
                //border: 1px solid transparent
                li
                  a
                    padding: 15px 15px 15px 20px
                    background-color: $white
                    color: $light-brawn
                    text-transform: none
                    &:hover
                      background-color: $light-brawn
                      color: $white

            a
              color: $light-brawn
              padding: 35px 27px
              &:hover
                background-color: $light-brawn
                color: $white
      @media(max-width: 1200px)
        .nav-header
          .navbar-collapse.collapse
            .head-navbar
              a
                padding: 35px 18px
      @media(max-width: 991px)
        border-bottom: none
        .site-logo
          display: none
        .nav-header
          background-color: transparent
          .container
            width: 100%!important
            .icon-bar
              background-color: $main-brawn
              height: 3px
          .navbar-collapse.collapse
            .head-navbar
              li
                &.active
                  &>a
                    //background-color: transparent
                    text-decoration: none
                .dropdown-menu

                  li
                    a
                      color: $white
                      background-color: $main-brawn
                a
                  color: $white
                  padding: 15px 15px 15px 20px




.search-icon
  display: block
  height: 100%
  background:
    position: 50%
    size: 15px
    repeat: no-repeat


@media (max-width: 991px)

  .navbar-header
    float: none


  .navbar-left,.navbar-right
    float: none !important

  .navbar-toggle
    display: block
    margin: 0
    padding: 12px
    background-color: #f4f1eb
    border-radius: 0
    border-bottom-left-radius: 5px

  .navbar-fixed-top
    top: 0
    border-width: 0 0 1px

  .navbar-collapse.collapse
    display: none!important


  .navbar-nav
    float: none!important
    margin-top: 0

  .navbar-nav>li
    float: none


  .collapsing
    position: absolute
    top: 0

    right: -300px
    @include size(300px,100vh!important)
    @include transition-duration(0s!important)
    @include transition-property(transform)
    padding: 15px
    opacity: 1
    visibility: visible!important
    background-color: $main-brawn

.close-button
  display: none
  cursor: pointer
  text-align: right
  padding-right: 10px
  .close-btn
    position: relative
    top: -5px
    @include size(30px,22px)
    display: inline-block
    &:before,&:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      @include size(2px,22px)
      background-color: $white
      @include transform(translate(-50%,-50%)rotate(45deg) )
    &:after
      @include transform(translate(-50%,-50%) rotate(-45deg) )


  @media (max-width: 992px)
    display: block


.mobile-logo
  display: none
  @media(max-width: 991px)
    display: block
    margin-top: 15px
    margin-bottom: 15px
    overflow: auto
    img
      height: 90px

@media(max-width: 767px)
  .navbar-form .form-group
    margin-bottom: 0

@media(min-width: 992px)
  ul.nav li.dropdown:hover > ul.dropdown-menu
    display: block
    margin: 0
.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar  li.hover-parent a
  background-color: rgba(0, 0, 0, 0.15)
.site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar  li.hover-parent a
  background-color: #a38d5e
  color: #ffffff
.site-header .nav-header .navbar-collapse.collapse .head-navbar li.hover-parent a
  background-color: #a38d5e
  color: #ffffff
.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a
  padding: 15px
  font-size: 13px
  background-color: #ffffff
  color: #a38d5e
  text-transform: none
.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a:hover
  color: $white
.site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li.active a
  background-color: #a38d5e
  color: #ffffff
@media(max-width: 991px)
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a
    color: #ffffff
    background-color: #8c7036
    &:hover
      background: rgba(0, 0, 0, 0.15)
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li a
    padding: 15px 15px 15px 20px!important
    font-weight: 400
    &.clicked
      background-color: #a38d5e
      color: #ffffff

  .site-header .nav-header .navbar-collapse.collapse .head-navbar

    margin: 0
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open
    padding: 0
    margin-top: 0!important
    margin-left: 1px
    margin-right: 1px
    background-color: white
    //padding-left: 13px
    border-radius: 0
    padding: 0
    border-top: 1px solid #8c7036
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open a
    color: $main_brawn!important
    background-color: transparent!important
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open a:hover
    background-color: #a38d5e!important
    color: #ffffff!important

  .site-header .nav-header .navbar-collapse.collapse
    padding-left: 0!important
    padding-right: 0!important
    margin: 0
    //overflow-y: hidden!important
.fixed-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
@media(max-width: 991px)
  .dropdown-menu.open
    display: block
  .dropdown-toggle i
    font-size: 14px
    position: absolute
    right: 13px
    top: 50%
    @include transform(translateY(-50%))
    z-index: 9
  .plus, .minus
    height: 14px
    width: 14px
    position: absolute
    top: 50%
    right: 20px
    @include transform(translateY(-50%))
  .plus
    background: url("../../images/plus.png") 50% 50% no-repeat
  .minus
    background: url("../../images/minus.png") 50% 50% no-repeat
