@mixin flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

%flexbox
  @include flexbox




@mixin flex-direction($value: row)
  @if $value == row-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: horizontal
  @else if $value == column
    -webkit-box-direction: normal
    -webkit-box-orient: vertical
  @else if $value == column-reverse
    -webkit-box-direction: reverse
    -webkit-box-orient: vertical
  @else
  -webkit-box-direction: normal
  -webkit-box-orient: horizontal

  -webkit-flex-direction: $value
  -moz-flex-direction: $value
  -ms-flex-direction: $value
  flex-direction: $value

@mixin flex-wrap($value: nowrap)
  // No Webkit Box fallback
  -webkit-flex-wrap: $value
  -moz-flex-wrap: $value
  @if $value == nowrap
    -ms-flex-wrap: none
  @else
  -ms-flex-wrap: $value

  flex-wrap: $value


@mixin justify-content($value: flex-start)
  @if $value == flex-start
    -webkit-box-pack: start
    -ms-flex-pack: start
  @else if $value == flex-end
    -webkit-box-pack: end
    -ms-flex-pack: end
  @else if $value == space-between
    -webkit-box-pack: justify
    -ms-flex-pack: justify
  @else if $value == space-around
    -ms-flex-pack: distribute
  @else
  -webkit-box-pack: $value
  -ms-flex-pack: $value

  -webkit-justify-content: $value
  -moz-justify-content: $value
  justify-content: $value


@mixin align-items($value: stretch)
  @if $value == flex-start
    -webkit-box-align: start
    -ms-flex-align: start
  @else if $value == flex-end
    -webkit-box-align: end
    -ms-flex-align: end
  @else
  -webkit-box-align: $value
  -ms-flex-align: $value

  -webkit-align-items: $value
  -moz-align-items: $value
  align-items: $value


@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

@mixin transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property

@mixin transition-duration($duration...)
  -moz-transition-property:    $duration
  -o-transition-property:      $duration
  -webkit-transition-property: $duration
  transition-property:         $duration
@mixin size($width,$height)
  width: $width
  height: $height


@mixin absolute-centered
  position: absolute
  top: 0
  left: 50%
  @include transform(translateX(-50%))

%absolute-centered
  @include absolute-centered

@mixin dev-nav-header
  border-radius: 0
  border: none
  margin: 0
%dev-nav-header
  @include dev-nav-header