.template-nyc-classes-offerings {
  .wide-image {
    margin-bottom: 0;
  }
  .noimg-block {
    margin-bottom: 0;
  }
}
section.jv-schedule-block {
  padding-top: 53px;
  .healcode-wrap {
    margin: 40px auto 50px;
  }
}
section.jv-classes {
  padding-bottom: 50px;
  .content-title {
    margin: 48px 0 46px;
  }
  .jv-classes-info-block {
    .jv-classes-content {
      width: 69%;
      margin: 0 auto;
      text-align: left;
      .jv-classes-header {
        margin-bottom: 26px;
      }
      .jv-classes-desc {
        font-size: 15px;
        line-height: 26px;
        color: $white;
        margin-bottom: 5px;
      }
    }
  }
}
section.private-classes {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  .private-classes-content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: $white;
    z-index: 9;
    @media all and (max-width: 540px){
      width: 75%;
    }
    .private-classes-title {
      margin-bottom: 16px;
    }
    .private-classes-desc {
      font-size: 13px;
      line-height: 26px;
      margin-bottom: 33px;
      p {
        margin-bottom: 10px;
      }
    }
  }
}
section.massage-therapy {
  padding: 51px 0 60px;
  .massage-therapy-title {
    margin-bottom: 33px;
  }
  .massage-therapy-desc {
    font-size: 15px;
    line-height: 26px;
    color: $gray;
    margin-bottom: 44px;
    p {
      margin-bottom: 10px;
    }
  }
  .massagist-block {
    @media all and (min-width: 992px){
      @include justify-content(center);
    }
    .massagist-name {
      margin-bottom: 2px;
    }
    .massagist-desc {
      font-size: 15px;
      color: $light-gray;
    }
  }
  .jv-btn {
    margin-top: -8px;
    @media all and (max-width: 540px){
      margin-top: 20px;
    }
  }
}
section.nyc-jv-cafe {
  background-color: #abc386;
  padding: 40px 0 50px;
  .jv-cafe-title {
    margin-bottom: 44px;
  }
  .jv-cafe-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    border-radius: 5px;
    margin-bottom: 31px;
  }
  .jv-cafe-desc {
    font-size: 15px;
    line-height: 26px;
    color: $white;
    text-align: left;
    margin-bottom: 42px;
    p {
      margin-bottom: 10px;
    }
  }


}