.template-prerequisites {
  .title-group {
    margin-bottom: 17px;
  }
  .wide-image, .noimg-block {
    margin: 20px 0 47px;
  }
  .prerequisites-accordion {
    margin-bottom: 32px;
  }

  .questions-block-border {
    border-top: 2px solid #dad1bf;
    @media (min-width: 1200px) {

        width: 1040px;
      }

  }
}
.shopify-products {
  .shop-title {
    margin-bottom: 21px;
  }
  .shop-container {
    padding: 0 33px 35px;
    //padding: 0 40px 35px;
    @include justify-content(flex-start);
    @media all and (max-width: 991px){
      padding: 0 0 35px;
    }
    .shop-item {
      margin: 0px 34px;
      //margin: 0 40px;
      @media all and (max-width: 991px){
        margin: 0 20px;
      }
      @media all and (max-width: 767px){
        margin: 0;
      }
    }
  }
}

