.template-prices {
  .block-title-21 {
    margin: 0 0 24px;
  }


  .wide-image {
    margin-bottom: 0;
  }
  .prices {
    background: none;
    padding: 0 0 50px;
  }
  section.gift-certificates {
    margin-bottom: 53px;
    .gift-desc {
      font-size: 15px;
      line-height: 26px;
      color: $gray;
      margin-bottom: 25px;
      p {
        margin-bottom: 10px;
      }
    }
    img {
      height: 206px;
      @media all and (max-width: 991px) {
        display: block;
        margin: 0 auto;
      }
    }
    table.gift {
      @media all and (max-width: 991px) {
        margin-bottom: 30px;
      }
    }
  }


}

