.jv-schedule-block {
  background-image: url('../../images/shedule-bg.jpg');
  .title-description {
    width: 52%;
    p {
      margin-bottom: 10px;
    }
    a {
      font-weight: 600;
      padding-bottom: 2px;
      border-bottom: 1px solid #79787b;
      color: $gray;
    }
  }

}
.healcode-wrap {
  position: relative;
  width: 81%;
  margin: 32px auto 0;
  @media all and (max-width: 991px) {
    width: 100%;
  }
  .buy-classes {
    position: absolute;
    padding: 14px 28px;
    top: 30px;
    right: 20px;
    z-index: 9;
    @media all and (max-width: 400px) {
      top: 72px;
      left: 50%;
      transform: translateX(-50%);
      padding: 14px 10px;
    }
  }
  div.healcode {
    background-color: #fff;
    padding: 30px 20px 20px;

    @media  all and (max-width: 767px) {
      padding: 30px 10px 20px;
      overflow-x: auto;
    }
    &.list_view {
      li {
        padding: 5px 100px 5px 5px;
        div.signup {
          transform: translateY(-50%);
        }
      }
    }
    .header {
      a {
        display: none;
      }
      .buy-classes {
        float: right;
        padding: 14px 28px;
      }
      h1 {
        font-family: $trajanPro;
        font-size: 26px;
        font-weight: 700;
        color: $main-brawn;
        line-height: 1;
        display: block;
        border: 0;
        margin: 0;
        padding: 10px 200px 33px 0;
        @media  all and (max-width: 480px) {
          font-size: 21px;
        }
        @media  all and (max-width: 400px) {
          padding: 10px 0 59px 0;
          text-align: center;
        }
      }
      .filters {
        text-align: center;
        select {
          color: $light-gray;
          font-weight: 500;
          height: 39px;
          border-radius: 5px;
          padding-left: 20px;
          border-style: solid;
          border-color: #e9e9e9;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: #fff url('../../images/select-arrow.png') no-repeat 95%;
          cursor: pointer;
          margin: 0;
          width: 49%;
          @media  all and (max-width: 480px) {
            padding-left: 10px;
          }
          &:first-child {
            margin-right: 10px;
            @media  all and (max-width: 991px) {
              margin-right: 0;

            }
          }
        }
      }
      .date_links {
        a {
          font-family: $poppins;
          font-size: 0;
          font-weight: 700;
          style: normal;
          outline: none;
          line-height: 1;
          padding: 11px 29px 11px;
          text-transform: uppercase;
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          letter-spacing: 1.4px;
          border-color: rgba(140,113,54,.8);
          color: $main-brawn;
          background-color: transparent;
          border-width: 2px;
          border-style: solid;
          width: 100%;
          @media  all and (max-width: 767px) {
            border-radius: 5px;
          }
          &:hover {
            text-decoration: none;
            color: $main-brawn;
          }
        }
        .week_links {
          border: 0;
          padding-top: 19px;

          span {
            min-width: 25%;
            margin-bottom: 20px;
            @media  all and (max-width: 1199px) {
              min-width: 23%;
            }
            @media  all and (max-width: 767px) {
              display: block;
              width: 100%;
              float: none;
              margin-right: 0!important;
            }
          }
          span.previous_week {
            a:before {
              content: 'Previous';
              font-size: 13px;
            }
          }
          span.today {
            a {
              background-color: $main-brawn;
              color: $white;
              font-size: 13px;
            }
          }
          span.next_week {
            margin-right: 10px;
            padding: 0;
            a:before {
              content: 'Next';
              font-size: 13px;
            }
          }
          .healcode-jump-to-date {
            min-width: 23%;
            width: auto;
            margin: 0;
            padding: 0;

            input.datepicker {
              width: 100%;
              padding: 12px 51px 12px;
              font-size: 13px;
              font-weight: 500;
              color: #999999;
              background: url('../../images/calendar.png') 5% 50% no-repeat;
              margin-top: 0;
              margin-bottom: 20px;
              max-height: 39px;
              @media  all and (max-width: 767px) {
                background: url('../../images/calendar.png') 2% 50% no-repeat;
              }
            }
          }
        }
      }
    }

    table.schedule {
      overflow: hidden;
      border-radius: 10px;
      margin: 0;
      width: 100%!important;
      tr {
        th {
          padding: 16px 20px;
          color: $gray;
          font-size: 13px;
          font-weight: 400;
          text-transform: none;
          border: 0;
          &:first-child {
            width: 42%;
          }
          span {
            font-size: 0;
            &.hc_day:before {
              content: 'Time';
              font-size: 13px;
            }
          }
        }
        td {
          font-family: $poppins;
          font-weight: 500;
          font-size: 13px;
          padding: 10px 18px;
          border: 0;
          vertical-align: middle;
          &:first-child {
            color: $gray;
            width: 23%;
          }
          span.hc_time {
            text-transform: uppercase;
          }
          a {
            font-family: $poppins;
            font-weight: $regular;
            font-size: 13px;
            color: $darkest-gray!important;
            background: none;
            padding: 0;
            letter-spacing: 0;
            text-transform: none;

            &.signup_now {
              font-family: "poppins";
              font-size: 13px;
              font-weight: 700;
              font-style: normal;
              color: #ffffff!important;
              text-transform: uppercase;
              letter-spacing: 1.4px;
              line-height: 1;
              background-color: #96b36b;
              padding: 9px 13px;
              outline: none;
              border: none;
              display: inline-block;
              cursor: pointer;
              text-decoration: none;
              border-radius: 5px;
              @include transition(.3s ease-in-out);
              &:hover, &:focus {
                color: $white;
                background-color: $h-green-btn;
              }
            }
          }
        }
        &.odd {
          td {
            background-color: $white;
          }
        }
        &.even {
          td {
            background-color: #fafafa;
          }
        }

      }
    }
  }

}




