.search {
  .full-width-img {
    margin: 10px 0 50px;
  }
  .block-title {
    text-align: left;
  }
  .screen-reader-text {
    display: none;

  }
}
.search-results-posts {
 article {
   padding: 50px 0 40px;
   &:first-child {
     padding: 40px 0;
   }
   &:not(:last-child) {
     border-bottom: 2px solid #dad1bf;
   }
   .entry-title {
     font-family: $poppins;
     font-weight: $semi-bold;
     font-size: 17px;
     margin-bottom: 18px;
     color: $gray;

   }
   .entry-summary {
     font-size: 15px;
     line-height: 26px;
     color: $gray;
     display: block;

     .read-more-btn {
       border-bottom: 1px solid #ccc;
       padding-bottom: 0;
     }
   }
 }

}