
.shop-container
  @extend %flexbox
  @include justify-content(space-between)
  padding: 0 65px 60px
  .shop-item
    @extend %flexbox
    @include flex-direction(column)
    @include justify-content(space-between)
    width: 25%
    max-width: 200px

    .shop-image
      margin-bottom: 15px
      img
        max-width: 100%
        max-height: 200px
        margin: 0 auto
        display: block
    .product-data
      font:
        size: 17px
        weight: $regular
      color: $gray
      line-height: 1.3
      text-align: center
      margin-bottom: 8px
      .pr-data-item
        margin-bottom: 7px
      .product-name
        font-weight: $semi-bold
        @-moz-document url-prefix()
          font-weight: $medium
  .entire-div-link
    position: relative
    span
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 1

  @media(max-width: 1199px)
    padding: 35px 0 60px
  @media(max-width: 991px)
    padding: 35px 15px 60px
    .shop-item
      width: 22%
      .shop-image
        img
          max-height: 150px
  @media(max-width: 767px)
    flex-wrap: wrap
    .shop-item
      width: 50%
      max-width: 100%
      @include align-items(center)
      margin-bottom: 50px
      .product-data
        max-width: 200px
  @media(max-width: 500px)
    padding-bottom: 0
    flex-direction: column
    @include align-items(center)
    .shop-item
      width: 100%
      max-width: 250px
      .product-data
        max-width: 100%
      .shop-image
        img
          max-height: 250px
.product-btn
  width: 100%
  padding: 18px 0
  max-width: 200px
  @media(max-width: 500px)
    max-width: 100%