.single-teacher-template {
  padding-bottom: 50px;
  .title-group {
    @media all and (min-width: 769px) and (max-width: 1366px) {
      margin-bottom: 19px;
    }
  }
  .teacher-avatar-wrap {
    @media all and (min-width: 481px) and (max-width: 767px) {
      width: 53%;
      float: left;
    }
  }
  .teacher-info-wrap {
    @media all and (min-width: 481px) and (max-width: 767px) {

    }
  }
  .teacher-avatar {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
    max-width: 400px;
    border-radius: 50%;
    @media all and (min-width: 769px) and (max-width: 1366px) {
      height: 300px;
      width: 300px;
      margin: 0 auto;
    }
    @media all and (max-width: 991px) {
      margin: 0 auto;
      height: 220px;
      width: 220px;
    }
  }

  .teacher-info {
    padding: 78px 0 0 74px;
    font-size: 15px;
    line-height: 26px;
    color: $gray;
    @media all and (min-width: 768px) and (max-width: 1366px) {
      padding: 78px 0 0 74px;
    }
    @media all and (max-width: 991px) {
      padding: 50px 0 0 0;
      text-align: center;
    }
     a {
      color: inherit;
    }
  }
  .entry-content {
    margin-top: 50px;
    margin-bottom: 20px;
    @media all and (min-width: 769px) and (max-width: 1366px) {
      margin-top: 10px;
    }
    @media all and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  ul.sm-links {
    padding: 19px 0 0 0;
    margin-left: -5px;
    @media all and (min-width: 769px) and (max-width: 1366px) {
      padding: 9px 0 0 0;
    }
    .sm-links-item:first-child .sm-links-icon {
      //padding-left: 0;
    }
    .sm-links-icon {
      color: $main-brawn !important;
      &:hover {
        background-color: rgba(250, 250, 250, 1)!important;

      }
    }
  }
}

.bp-teachers-directory {
  .title-group {
    margin: 50px 0 40px;
  }
  .teacher-img {
    display: block;
  }

  #message {
    .no-teachers-desc {
      font-size: 15px;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 20px;
      color: #666666;
    }
  }
}

.bp-search-form {
  text-align: left;
  margin-bottom: 40px;
  @media all and (max-width: 1199px) {
    text-align: center;
  }
  .form-group {
    width: 44%;
    margin-right: 14px;
    position: relative;
    @media all and (max-width: 1199px) {
      width: 40%;
    }
    @media all and (max-width: 991px) {
      width: 70%;
      margin: 0 auto 15px;
      display: block;
    }
    .bps-search-icon {
      position: absolute;
      background: url('../../images/search-icon.png') 3% 50% no-repeat;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 10px;
      @include transform(translatey(-50%));
    }
  }
  input {
    color: $main-brawn;
    box-shadow: none;
    border: 1px solid #baa986;
    padding-left: 50px;

    //&:-webkit-autofill {
    //  -webkit-box-shadow: 0 0 0 30px white inset;
    //}
  }
  .bp-search-submit {
    padding: 14px 19px;
    line-height: 12px;
  }
}

.teacher-classes {
  .healcode-wrap {margin-top: 0;}
  .healcode-wrap div.healcode {    padding: 0 20px 0px;}
  .healcode-wrap div.healcode .header h1 {display: none}
  .schedule-top {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 20px;
    @media all and (max-width: 480px) {
      @include justify-content(center);
      text-align: center;
    }
  }
  .content-title {
    margin: 0;
  }
  .buy-classes {
    position: static;
    transform: none;
    margin: 20px 0;

  }
}
.teacher-location {
  font-size: 17px;
  color: $gray;
}
