#accordion {
  .panel {
    border-width: 2px;
    border-color: $button-green;
    .panel-heading {
      padding: 0;
      background-color: $button-green;
      border-radius: 0;
      .panel-title {
        font: {
          family: $poppins;
          weight: $bold;
          size: 13px;
        }
        line-height: 17px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: $white;
        a.accordion-toggle {
          display: block;
          padding: 17px 20px;
        }

      }
      i {
        font-size: 17px;
      }
      //.accordion-toggle:after {
      //  font-family: FontAwesome;
      //  content: "\f0d7";
      //  float: right;
      //}
      //.accordion-toggle.collapsed:after {
      //  content: "\f0da";
      //}
    }
    .panel-collapse {
      .panel-body {
        font-size: 15px;
        line-height: 26px;
        color: $gray;
        border: 0;
        padding: 0;
        .panel-content {
          padding: 32px 18px;
          &:not(:last-child) {
            border-bottom: 1px solid $main-brawn;
          }
          p {
            margin-bottom: 10px;
          }
          img {
            //float: right;
            //margin-left: 40px;
            width: 300px;
          }
        }
      }
    }

  }
  .panel+.panel {
    margin-top: 10px;
  }
}

.teacher-training {
  .title-group {
    margin-bottom: 39px;
  }
  .training-top-block {
    @include flexbox;
    @include flex-wrap(wrap);
    .gallery {
      @include flexbox;
      width: 62%;
      margin: 0 37px 44px 0;
      @media all and (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        flex-wrap: wrap;
      }
      .noimg-block {
        width: 100%;
        padding: 67px 0;
        margin: 0;
        border-radius: 5px;
        img {
          height: 150px;
        }
      }
      .main {
        height: 292px;
        width: 81%;
        background-position: 50% 50%;
        background-size: cover;
        margin-right: 19px;
        border-radius: 5px;

        @media all and (max-width: 991px) {
          width: 100%;
          margin-right: 0;
        }
      }
      .thumbnails-column {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        @media all and (max-width: 991px) {
          @include flex-direction(row);
          @include flex-wrap(wrap);
          @include justify-content(space-around);
          width: 100%;
        }
        .single-image  {
          height: 63px;
          width: 100px;
          background-position: 50% 50%;
          -webkit-background-size: cover;
          background-size: cover;
          border-radius: 5px;
          cursor: pointer;
          @media all and (max-width: 991px) {
            margin-top: 20px;
          }
        }

        }
      }

    .sign-up-block {
      font-size: 15px;
      color: $gray;
      line-height: 1;
      width: 34%;
      @media all and (max-width: 991px) {
        width: 100%;
        text-align: center;
      }
      .training-hour {
        font: {
          family: $trajanPro;
          size: 21px;
          weight: $bold;
        }
        line-height: 1;
        margin: 50px 0 34px;
        @media all and (max-width: 991px) {
          margin: 0 0 35px;
        }
      }
      span {
        font-weight: $semi-bold;
      }
      .training-date-from {
        padding-bottom: 10px;
      }
      .training-date-to {
        padding-bottom: 26px;
      }
      .training-location {
        padding-bottom: 10px;
      }
      .redirect-link {
        margin: 16px 0 37px;
      }
      .btn-sign-up {
        display: block;
        width: 128px;
        line-height: 49px;
        padding: 0;
        text-align: center;
        @media all and (max-width: 991px) {
          margin: 0 auto 20px;
        }
      }
    }
  }

  .planning-trip-block {
    margin-bottom: 50px;
  }
  .botttom-sign-up-block {
    background: url('../../images/snake-logo-simple-vector-golden-devanagari.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 0;
    .post-type-title {
      margin: 0 0 9px;
    }
    .training-hour {
      font-size: 15px;
      color: $main-brawn;
      margin-bottom: 9px;
    }
    .training-date {
      font-size: 15px;
      color: $gray;
      margin-bottom: 24px;
    }
    .btn-sign-up {
      padding: 19px 28px;
    }
  }
  .faculty-title {
    margin: 50px 0 40px;
    text-align: left;
  }
  //.faculty-teachers {
  //  @media all and (min-width: 1200px) {
  //    margin: 0 -50px;
  //  }
  //}

}

.upcoming-teacher-trainings {
  border-top: 2px solid #d1c6af;

  .content-title {
    margin: 48px 0;
    padding: 0;
    text-align: center;
  }
  .training-container {
    margin-bottom: 0;
    .training-item {
      @media all and (max-width: 767px) {
        border-bottom: 0;
      }
    }
    .training-item:before {
      content: none;
    }
    .training-item:after {
      content: none;
    }
  }
}
.template-teacher-training{
  .title-group {
    margin: 0;
  }

  .prerequisites-btn {
    margin-bottom: 50px;
  }

  .accodion-block {
    margin-bottom: 50px;
  }

  .training-container:last-of-type {
    margin-bottom: 0;
  }


}
.video-container {
  width: 65%;
  margin: 0 auto 50px;
  @media all and (max-width: 767px) {
    width: 100%;
  }
  .embed-responsive {
    padding-bottom: 54.25%;
  }
}
.pages-block {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @media all and (max-width: 767px) {
    @include justify-content(space-around);
  }
  .single-page-rectangle {
    width: 31%;
    height: 160px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50px;
    display: block;
    @media all and (max-width: 767px) {
      width: 300px;
    }
    &:not(:last-child) {
      @media all and (max-width: 767px) {
        margin-bottom: 25px;
      }
    }

    &:hover:before {
      background-color: rgba(124, 148, 89, .8);

    }
    &:before {
      background-color: rgba(150, 179, 107, .93);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      border-radius: 5px;
      @include transition(.3s ease-in-out);
    }

    .page-rectangle-content {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      width: 75%;
      text-align: center;
      z-index: 99;
      color: $white;
      font-weight: $light;
      font-size: 28px;
      line-height: 36px;
      p {
        font-weight: $regular;
        font-size: 15px;
        margin-top: 2px;
      }
    }

  }
}
.training-tables {
  .table-wrap {
    @media all and (max-width: 480px) {
      overflow-x: auto;
    }
    margin-bottom: 40px;

  }
  table {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    border-collapse: separate;
    width: 100%!important;
    margin-bottom: 0;
    tr {
      height: inherit!important;
      &:nth-of-type(odd) {
        background-color: #fafafa;
      }
      &:nth-of-type(event) {
        background-color: $white;
      }
      td {
        font-size: 15px;
        line-height: 26px;
        color: $gray;
        border-top: 0;
        background-color: inherit;
        height: inherit!important;
        vertical-align: top;
        &:first-child {
          width: 56%!important;
          text-align: left;
          padding: 12px 12px 12px 16px;
        }
        &:last-child {
          width: 44%!important;
          text-align: left;
          padding: 12px 12px 12px 12px;
        }
        a {
          font-family: "poppins", sans-serif, Helvetica;
          font-size: 13px;
          font-weight: 700;
          font-style: normal;
          color: #ffffff;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          line-height: 1;
          background-color: #96b36b;
          padding: 18px 28px;
          outline: none;
          border: none;
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          border-radius: 5px;
          margin: 57px 0 8px;
          @include transition(.3s ease-in-out);
          &:hover, &:focus {
            color: $white;
            background-color: $h-green-btn;
          }
        }
      }
    }

  }
}
.training-container {
  //&:not(:last-of-type) {
  //  border-bottom: 4px solid white;
  //}
  &:last-of-type {
    margin-bottom: 52px
  }

  .event-info-block {
    &.brown-tt {
      background-color: #c1a274;
    }
    &.green-tt {
      background-color: #abc389;
    }
    &.pink-tt {
      background-color: #b28e98;
    }
    @include flexbox;
    @include align-items(center);
    width: 50%;
    position: relative;
    background-color: #d5b383;
    min-height: 380px;
    padding: 35px 0;
    @media all and (min-width: 1540px) {
      min-height: 480px;
    }
    @media all and (max-width: 991px) {
      min-height: 270px;
    }
    @media all and (max-width: 767px) {
      min-height: 250px;
      width: 100%;
      order: -1;
    }

    .event-info-content {
      width: 100%;
      color: $white;
      text-align: center;
      line-height: 1;

      .event-info-header {
        font-size: 17px;
        margin-bottom: 20px;
      }
      .event-info-country {
        font: {
          family: $trajanPro;
          size: 26px;
          weight: $bold;
        }
        margin-bottom: 10px;
        @media all and (max-width: 767px) {
          font-size: 23px
        }
      }
      .event-info-name {
        font: {
          family: $trajanPro;
          size: 21px;
          weight: $bold;
        };
        margin-bottom: 20px;
      }
      .event-info-hour {
        font: {

          size: 21px;
          weight: $regular;
        }
        margin-bottom: 26px;
        @media all and (min-width: 767px) and (max-width: 991px) {
          margin-bottom: 17px
        }
      }
      .event-info-date {
        font: {
          family: $trajanPro;
          size: 19px;
          weight: $bold;
        }
        margin-bottom: 29px;
        @media all and (max-width: 991px) {
          margin-bottom: 17px;
        }
        @media all and (max-width: 767px) {
          margin-bottom: 21px;
          font-size: 18px;
        }
      }

    }
  }

}
