.teacher-training-block
  border: 1px solid #ece8dd
  text-align: center
  .title-description p
    margin-bottom: 10px
  .event-info-block

    .event-info-content
      color: $white
      .info-block-title
        font-size: 17px
        margin-bottom: 20px
      .info-country
        font:
          family: $trajanPro
          size: 26px
          weight: $bold
        margin-bottom: 10px
        @media(max-width: 767px)
          font-size: 23px
      .info-date
        font:
          family: $trajanPro
          size: 19px
          weight: $bold
        margin-bottom: 29px
        @media(max-width: 991px)
          margin-bottom: 17px
        @media(max-width: 767px)
          margin-bottom: 21px
          font-size: 18px
      .info-hour
        font:
          size: 21px
          weight: $regular
        margin-bottom: 26px
        @media(min-width: 767px) and (max-width: 991px)
          margin-bottom: 17px

.training-container
  @extend %flexbox
  &:not(:last-of-type)
    border-bottom: 2px solid $white
  .noimg-block
    margin: 0!important
    width: 50%
    min-height: 380px
    @media(min-width: 1540px)
      min-height: 480px
    @media(max-width: 991px)
      min-height: 270px
    @media(max-width: 767px)
      min-height: 250px
      width: 100%

  .training-item
    width: 50%
    min-height: 380px
    position: relative
    background:
      size: cover
      position: 50% 50%
      repeat: no-repeat
    transition: .3s ease-in-out
    @media(min-width: 1540px)
      min-height: 480px
    @media(max-width: 991px)
      min-height: 270px
    @media(max-width: 767px)
      min-height: 250px

    //&:before,&:after
    //  content: ''
    //  position: absolute
    //  top: 0
    //  left: 0
    //  right: 0
    //  bottom: 0
    //  z-index: 5
    //&:before
    //  background-color: rgba(0,0,0,.3)
    //&.blue
    //  &:after
    //    background-color: rgba(34,48,134,.2)
    //&.sepia
    //  &:after
    //    background-color: rgba(159,123,27,.2)



  @media(max-width: 767px)
    @include flex-direction(column)
    .training-item
      width: 100%
      //padding-top: 50%



    .training-item
      .info-block
        .info-country
          margin-bottom: 7px
        .info-hour
          margin-bottom: 16px
    .jv-btn
      padding: 12px 22px
  @media(max-width: 400px)
    .training-item
      .info-block
        .info-country
          margin-bottom: 7px
          font-size: 20px
        .info-hour
          margin-bottom: 16px


.teachers-block
  @extend %flexbox
  @include flex-wrap(wrap)
  @include justify-content(flex-start)
  .single-teacher
    width: 25%
    @extend %flexbox
    @include flex-direction(column)
    padding: 0 40px 45px
    text-align: center
    font:
      size: 17px
    color: $gray
    .teacher-info
      margin-bottom: 7px
    .teacher-img
      display: block
      height: 180px
      width: 180px
      margin: 0 auto
      border-radius: 50%
      background:
        size: cover
        position: 50% 50%
        repeat: no-repeat
      margin-bottom: 11px
    .teacher-name
      a
        font-weight: $semi-bold
        color: $gray
        @-moz-document url-prefix()
          font-weight: $medium
    .teacher-hour
      color: $light-gray
      margin-top: -8px
  @media(max-width: 991px)
    .single-teacher
      padding: 35px 15px 18px
  @media(max-width: 991px)
    .single-teacher
      width: 50%
      .teacher-img
        padding-bottom: 0
        margin: 0 auto 11px
  @media(max-width: 450px)
    .single-teacher
      width: 100%


































