.jv-video-block
  .video-content
    height: 100%
    padding: 2.48% 0
  .embed-responsive
    @media(min-width: 1200px)
      margin-right: 50px
  .content-description
    width: 65%
    margin: 0 auto 30px
    p
      margin-bottom: 10px
  .jv-btn
    padding:
      left: 4%
      right: 4%
  @media(max-width: 1200px)
    .video-content
      padding: 1.2% 0
    .content-title,.content-description
      margin-bottom: 3%
    .content-description
      width: 75%
  @media(max-width: 992px)
    .content-title
      font-size: 25px
    .video-content
      padding: 1.1% 0
    .content-title,.content-description
      margin-bottom: 3%
    .content-description
      font-size: 22px
      line-height: 1.2
      width: 77%
  @media(max-width: 767px)
    .video-content
      padding: 25px 0