.wide-layout {
  padding: 0px 0 0;
  .title-group {
    margin-bottom: 40px;
  }
  .wide-layout-content {

    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0;
    color: $gray;
    margin-bottom: 45px;
    p {
      margin-bottom: 27px;
    }
    //br {
    //  display: block;
    //  margin: 20px 0;
    //  line-height: 51px;
    //}

  }
}
