@charset "UTF-8";
@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/poppins-bold.eot");
  src: url("../fonts/Poppins/poppins-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("ttf"), url("../fonts/Poppins/poppins-bold.woff2") format("woff2"), url("../fonts/Poppins/poppins-bold.woff") format("woff"), url("../fonts/Poppins/poppins-bold.svg#poppinsbold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/poppins-light.eot");
  src: url("../fonts/Poppins/poppins-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Light.ttf") format("ttf"), url("../fonts/Poppins/poppins-light.woff2") format("woff2"), url("../fonts/Poppins/poppins-light.woff") format("woff"), url("../fonts/Poppins/poppins-light.svg#poppinslight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/poppins-medium.eot");
  src: url("../fonts/Poppins/poppins-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Medium.ttf") format("ttf"), url("../fonts/Poppins/poppins-medium.woff2") format("woff2"), url("../fonts/Poppins/poppins-medium.woff") format("woff"), url("../fonts/Poppins/poppins-medium.svg#poppinsmedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/poppins-regular.eot");
  src: url("../fonts/Poppins/poppins-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf"), url("../fonts/Poppins/poppins-regular.woff2") format("woff2"), url("../fonts/Poppins/poppins-regular.woff") format("woff"), url("../fonts/Poppins/poppins-regular.svg#poppinsregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/poppins-semibold.eot");
  src: url("../fonts/Poppins/poppins-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("ttf"), url("../fonts/Poppins/poppins-semibold.woff2") format("woff2"), url("../fonts/Poppins/poppins-semibold.woff") format("woff"), url("../fonts/Poppins/poppins-semibold.svg#poppinssemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Trajan Pro';
  src: url("../fonts/TrajanPro/TrajanPro-Bold.eot");
  src: url("../fonts/TrajanPro/TrajanPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro/TrajanPro-Bold.woff2") format("woff2"), url("../fonts/TrajanPro/TrajanPro-Bold.woff") format("woff"), url("../fonts/TrajanPro/TrajanPro-Bold.ttf") format("truetype"), url("../fonts/TrajanPro/TrajanPro-Bold.svg#TrajanPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'Trajan Pro';
  src: url("../fonts/TrajanPro/TrajanPro-Regular.eot");
  src: url("../fonts/TrajanPro/TrajanPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro/TrajanPro-Regular.woff2") format("woff2"), url("../fonts/TrajanPro/TrajanPro-Regular.woff") format("woff"), url("../fonts/TrajanPro/TrajanPro-Regular.ttf") format("truetype"), url("../fonts/TrajanPro/TrajanPro-Regular.svg#TrajanPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'Trajan Pro 3';
  src: url("../fonts/TrajanPro/Trajan Pro 3 Bold.eot");
  src: url("../fonts/TrajanPro/Trajan Pro 3 Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro/Trajan Pro 3 Bold.woff2") format("woff2"), url("../fonts/TrajanPro/Trajan Pro 3 Bold.woff") format("woff"), url("../fonts/TrajanPro/Trajan Pro 3 Bold.ttf") format("truetype"), url("../fonts/TrajanPro/Trajan Pro 3 Bold.svg#Trajan Pro 3 Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'Trajan Pro 3';
  src: url("../fonts/TrajanPro/Trajan Pro 3.eot");
  src: url("../fonts/TrajanPro/Trajan Pro 3.eot?#iefix") format("embedded-opentype"), url("../fonts/TrajanPro/Trajan Pro 3.woff2") format("woff2"), url("../fonts/TrajanPro/Trajan Pro 3.woff") format("woff"), url("../fonts/TrajanPro/Trajan Pro 3.ttf") format("truetype"), url("../fonts/TrajanPro/Trajan Pro 3.svg#Trajan Pro 3") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts-awesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fonts-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fonts-awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fonts-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fonts-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fonts-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="pe-7s-"], [class*=" pe-7s-"] {
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pe-7s-album:before {
  content: "\e6aa"; }

.pe-7s-arc:before {
  content: "\e6ab"; }

.pe-7s-back-2:before {
  content: "\e6ac"; }

.pe-7s-bandaid:before {
  content: "\e6ad"; }

.pe-7s-car:before {
  content: "\e6ae"; }

.pe-7s-diamond:before {
  content: "\e6af"; }

.pe-7s-door-lock:before {
  content: "\e6b0"; }

.pe-7s-eyedropper:before {
  content: "\e6b1"; }

.pe-7s-female:before {
  content: "\e6b2"; }

.pe-7s-gym:before {
  content: "\e6b3"; }

.pe-7s-hammer:before {
  content: "\e6b4"; }

.pe-7s-headphones:before {
  content: "\e6b5"; }

.pe-7s-helm:before {
  content: "\e6b6"; }

.pe-7s-hourglass:before {
  content: "\e6b7"; }

.pe-7s-leaf:before {
  content: "\e6b8"; }

.pe-7s-magic-wand:before {
  content: "\e6b9"; }

.pe-7s-male:before {
  content: "\e6ba"; }

.pe-7s-map-2:before {
  content: "\e6bb"; }

.pe-7s-next-2:before {
  content: "\e6bc"; }

.pe-7s-paint-bucket:before {
  content: "\e6bd"; }

.pe-7s-pendrive:before {
  content: "\e6be"; }

.pe-7s-photo:before {
  content: "\e6bf"; }

.pe-7s-piggy:before {
  content: "\e6c0"; }

.pe-7s-plugin:before {
  content: "\e6c1"; }

.pe-7s-refresh-2:before {
  content: "\e6c2"; }

.pe-7s-rocket:before {
  content: "\e6c3"; }

.pe-7s-settings:before {
  content: "\e6c4"; }

.pe-7s-shield:before {
  content: "\e6c5"; }

.pe-7s-smile:before {
  content: "\e6c6"; }

.pe-7s-usb:before {
  content: "\e6c7"; }

.pe-7s-vector:before {
  content: "\e6c8"; }

.pe-7s-wine:before {
  content: "\e6c9"; }

.pe-7s-cloud-upload:before {
  content: "\e68a"; }

.pe-7s-cash:before {
  content: "\e68c"; }

.pe-7s-close:before {
  content: "\e680"; }

.pe-7s-bluetooth:before {
  content: "\e68d"; }

.pe-7s-cloud-download:before {
  content: "\e68b"; }

.pe-7s-way:before {
  content: "\e68e"; }

.pe-7s-close-circle:before {
  content: "\e681"; }

.pe-7s-id:before {
  content: "\e68f"; }

.pe-7s-angle-up:before {
  content: "\e682"; }

.pe-7s-wristwatch:before {
  content: "\e690"; }

.pe-7s-angle-up-circle:before {
  content: "\e683"; }

.pe-7s-world:before {
  content: "\e691"; }

.pe-7s-angle-right:before {
  content: "\e684"; }

.pe-7s-volume:before {
  content: "\e692"; }

.pe-7s-angle-right-circle:before {
  content: "\e685"; }

.pe-7s-users:before {
  content: "\e693"; }

.pe-7s-angle-left:before {
  content: "\e686"; }

.pe-7s-user-female:before {
  content: "\e694"; }

.pe-7s-angle-left-circle:before {
  content: "\e687"; }

.pe-7s-up-arrow:before {
  content: "\e695"; }

.pe-7s-angle-down:before {
  content: "\e688"; }

.pe-7s-switch:before {
  content: "\e696"; }

.pe-7s-angle-down-circle:before {
  content: "\e689"; }

.pe-7s-scissors:before {
  content: "\e697"; }

.pe-7s-wallet:before {
  content: "\e600"; }

.pe-7s-safe:before {
  content: "\e698"; }

.pe-7s-volume2:before {
  content: "\e601"; }

.pe-7s-volume1:before {
  content: "\e602"; }

.pe-7s-voicemail:before {
  content: "\e603"; }

.pe-7s-video:before {
  content: "\e604"; }

.pe-7s-user:before {
  content: "\e605"; }

.pe-7s-upload:before {
  content: "\e606"; }

.pe-7s-unlock:before {
  content: "\e607"; }

.pe-7s-umbrella:before {
  content: "\e608"; }

.pe-7s-trash:before {
  content: "\e609"; }

.pe-7s-tools:before {
  content: "\e60a"; }

.pe-7s-timer:before {
  content: "\e60b"; }

.pe-7s-ticket:before {
  content: "\e60c"; }

.pe-7s-target:before {
  content: "\e60d"; }

.pe-7s-sun:before {
  content: "\e60e"; }

.pe-7s-study:before {
  content: "\e60f"; }

.pe-7s-stopwatch:before {
  content: "\e610"; }

.pe-7s-star:before {
  content: "\e611"; }

.pe-7s-speaker:before {
  content: "\e612"; }

.pe-7s-signal:before {
  content: "\e613"; }

.pe-7s-shuffle:before {
  content: "\e614"; }

.pe-7s-shopbag:before {
  content: "\e615"; }

.pe-7s-share:before {
  content: "\e616"; }

.pe-7s-server:before {
  content: "\e617"; }

.pe-7s-search:before {
  content: "\e618"; }

.pe-7s-film:before {
  content: "\e6a5"; }

.pe-7s-science:before {
  content: "\e619"; }

.pe-7s-disk:before {
  content: "\e6a6"; }

.pe-7s-ribbon:before {
  content: "\e61a"; }

.pe-7s-repeat:before {
  content: "\e61b"; }

.pe-7s-refresh:before {
  content: "\e61c"; }

.pe-7s-add-user:before {
  content: "\e6a9"; }

.pe-7s-refresh-cloud:before {
  content: "\e61d"; }

.pe-7s-paperclip:before {
  content: "\e69c"; }

.pe-7s-radio:before {
  content: "\e61e"; }

.pe-7s-note2:before {
  content: "\e69d"; }

.pe-7s-print:before {
  content: "\e61f"; }

.pe-7s-network:before {
  content: "\e69e"; }

.pe-7s-prev:before {
  content: "\e620"; }

.pe-7s-mute:before {
  content: "\e69f"; }

.pe-7s-power:before {
  content: "\e621"; }

.pe-7s-medal:before {
  content: "\e6a0"; }

.pe-7s-portfolio:before {
  content: "\e622"; }

.pe-7s-like2:before {
  content: "\e6a1"; }

.pe-7s-plus:before {
  content: "\e623"; }

.pe-7s-left-arrow:before {
  content: "\e6a2"; }

.pe-7s-play:before {
  content: "\e624"; }

.pe-7s-key:before {
  content: "\e6a3"; }

.pe-7s-plane:before {
  content: "\e625"; }

.pe-7s-joy:before {
  content: "\e6a4"; }

.pe-7s-photo-gallery:before {
  content: "\e626"; }

.pe-7s-pin:before {
  content: "\e69b"; }

.pe-7s-phone:before {
  content: "\e627"; }

.pe-7s-plug:before {
  content: "\e69a"; }

.pe-7s-pen:before {
  content: "\e628"; }

.pe-7s-right-arrow:before {
  content: "\e699"; }

.pe-7s-paper-plane:before {
  content: "\e629"; }

.pe-7s-delete-user:before {
  content: "\e6a7"; }

.pe-7s-paint:before {
  content: "\e62a"; }

.pe-7s-bottom-arrow:before {
  content: "\e6a8"; }

.pe-7s-notebook:before {
  content: "\e62b"; }

.pe-7s-note:before {
  content: "\e62c"; }

.pe-7s-next:before {
  content: "\e62d"; }

.pe-7s-news-paper:before {
  content: "\e62e"; }

.pe-7s-musiclist:before {
  content: "\e62f"; }

.pe-7s-music:before {
  content: "\e630"; }

.pe-7s-mouse:before {
  content: "\e631"; }

.pe-7s-more:before {
  content: "\e632"; }

.pe-7s-moon:before {
  content: "\e633"; }

.pe-7s-monitor:before {
  content: "\e634"; }

.pe-7s-micro:before {
  content: "\e635"; }

.pe-7s-menu:before {
  content: "\e636"; }

.pe-7s-map:before {
  content: "\e637"; }

.pe-7s-map-marker:before {
  content: "\e638"; }

.pe-7s-mail:before {
  content: "\e639"; }

.pe-7s-mail-open:before {
  content: "\e63a"; }

.pe-7s-mail-open-file:before {
  content: "\e63b"; }

.pe-7s-magnet:before {
  content: "\e63c"; }

.pe-7s-loop:before {
  content: "\e63d"; }

.pe-7s-look:before {
  content: "\e63e"; }

.pe-7s-lock:before {
  content: "\e63f"; }

.pe-7s-lintern:before {
  content: "\e640"; }

.pe-7s-link:before {
  content: "\e641"; }

.pe-7s-like:before {
  content: "\e642"; }

.pe-7s-light:before {
  content: "\e643"; }

.pe-7s-less:before {
  content: "\e644"; }

.pe-7s-keypad:before {
  content: "\e645"; }

.pe-7s-junk:before {
  content: "\e646"; }

.pe-7s-info:before {
  content: "\e647"; }

.pe-7s-home:before {
  content: "\e648"; }

.pe-7s-help2:before {
  content: "\e649"; }

.pe-7s-help1:before {
  content: "\e64a"; }

.pe-7s-graph3:before {
  content: "\e64b"; }

.pe-7s-graph2:before {
  content: "\e64c"; }

.pe-7s-graph1:before {
  content: "\e64d"; }

.pe-7s-graph:before {
  content: "\e64e"; }

.pe-7s-global:before {
  content: "\e64f"; }

.pe-7s-gleam:before {
  content: "\e650"; }

.pe-7s-glasses:before {
  content: "\e651"; }

.pe-7s-gift:before {
  content: "\e652"; }

.pe-7s-folder:before {
  content: "\e653"; }

.pe-7s-flag:before {
  content: "\e654"; }

.pe-7s-filter:before {
  content: "\e655"; }

.pe-7s-file:before {
  content: "\e656"; }

.pe-7s-expand1:before {
  content: "\e657"; }

.pe-7s-exapnd2:before {
  content: "\e658"; }

.pe-7s-edit:before {
  content: "\e659"; }

.pe-7s-drop:before {
  content: "\e65a"; }

.pe-7s-drawer:before {
  content: "\e65b"; }

.pe-7s-download:before {
  content: "\e65c"; }

.pe-7s-display2:before {
  content: "\e65d"; }

.pe-7s-display1:before {
  content: "\e65e"; }

.pe-7s-diskette:before {
  content: "\e65f"; }

.pe-7s-date:before {
  content: "\e660"; }

.pe-7s-cup:before {
  content: "\e661"; }

.pe-7s-culture:before {
  content: "\e662"; }

.pe-7s-crop:before {
  content: "\e663"; }

.pe-7s-credit:before {
  content: "\e664"; }

.pe-7s-copy-file:before {
  content: "\e665"; }

.pe-7s-config:before {
  content: "\e666"; }

.pe-7s-compass:before {
  content: "\e667"; }

.pe-7s-comment:before {
  content: "\e668"; }

.pe-7s-coffee:before {
  content: "\e669"; }

.pe-7s-cloud:before {
  content: "\e66a"; }

.pe-7s-clock:before {
  content: "\e66b"; }

.pe-7s-check:before {
  content: "\e66c"; }

.pe-7s-chat:before {
  content: "\e66d"; }

.pe-7s-cart:before {
  content: "\e66e"; }

.pe-7s-camera:before {
  content: "\e66f"; }

.pe-7s-call:before {
  content: "\e670"; }

.pe-7s-calculator:before {
  content: "\e671"; }

.pe-7s-browser:before {
  content: "\e672"; }

.pe-7s-box2:before {
  content: "\e673"; }

.pe-7s-box1:before {
  content: "\e674"; }

.pe-7s-bookmarks:before {
  content: "\e675"; }

.pe-7s-bicycle:before {
  content: "\e676"; }

.pe-7s-bell:before {
  content: "\e677"; }

.pe-7s-battery:before {
  content: "\e678"; }

.pe-7s-ball:before {
  content: "\e679"; }

.pe-7s-back:before {
  content: "\e67a"; }

.pe-7s-attention:before {
  content: "\e67b"; }

.pe-7s-anchor:before {
  content: "\e67c"; }

.pe-7s-albums:before {
  content: "\e67d"; }

.pe-7s-alarm:before {
  content: "\e67e"; }

.pe-7s-airplay:before {
  content: "\e67f"; }

.copyright-block .copy-list, .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form, .training-container, .teachers-block, .teachers-block .single-teacher, .shop-container, .shop-container .shop-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.site-header .site-logo, .site-header.is-home.menu-fixed-top .site-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.site-header .nav-header {
  border-radius: 0;
  border: none;
  margin: 0; }

/*Fonts */
/*styles */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  height: 100%; }

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important; } }
body {
  font-family: "poppins", sans-serif, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  min-height: 100%; }
@media(max-width: 991px) {
  body {
    margin-top: 0 !important; } }
a {
  text-decoration: none;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none; }

img {
  max-width: 100%; }

p {
  margin-bottom: 0; }

h1 {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 39px;
  font-weight: 700;
  color: #8c7036;
  margin: 0;
  line-height: 1.3; }

h2 {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 26px;
  font-weight: 700;
  color: #8c7036;
  margin: 0;
  line-height: 1.3; }

h3 {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 21px;
  font-weight: 700;
  color: #8c7036;
  margin: 0;
  line-height: 1.3; }

h4, h5, h6 {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 17px;
  font-weight: 600;
  color: #666666;
  margin: 0;
  line-height: 1.2; }

.padding-block {
  padding: 70px 0; }
@media(max-width: 767px) {
  .padding-block {
    padding: 50px 0; } }
.block-title {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 39px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: 0;
  letter-spacing: 0;
  line-height: 1.3; }
  .block-title.template-title {
    margin: 50px 0 40px; }
  @media all and (max-width: 450px) {
    .block-title {
      font-size: 29px; } }

.brown {
  color: #8c7036; }

.white {
  color: #ffffff; }

.content-title {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  display: block;
  margin: 0 0 20px;
  padding-top: 5px; }

.post-type-title {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 16px; }

@media all and (max-width: 767px) {
  .page-titles .post-type-title {
    margin: 0 0 6px !important; } }

.block-title-21 {
  font-family: "Trajan Pro", sans-serif, Helvetica;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 35px; }

.content-description {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 28px;
  font-weight: 100;
  color: #999999;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5; }

.title-description {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 17px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  width: 40%;
  margin: 12px auto 0;
  line-height: 1.6;
  letter-spacing: 0.7px; }
@media( max-width: 1200px ) {
  .title-description {
    width: 50%; } }
@media( max-width: 991px ) {
  .title-description {
    width: 70% !important; } }
@media( max-width: 767px ) {
  .title-description {
    font-size: 15px;
    width: 100% !important; } }
.jv-btn {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  outline: none;
  line-height: 1;
  padding: 16px 29px 16px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1.4px;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .jv-btn:hover, .jv-btn:focus {
    text-decoration: none; }

.btn-border {
  border-width: 2px;
  border-style: solid; }

.btn-braun {
  border-color: rgba(140, 113, 54, 0.8);
  color: #8c7036;
  background-color: transparent; }
  .btn-braun:hover, .btn-braun:focus {
    color: #ffffff;
    background-color: #8c7036; }

.btn-white {
  border-color: rgba(255, 255, 255, 0.9);
  color: #ffffff;
  background-color: transparent; }
  .btn-white:hover, .btn-white:focus {
    color: #8c7036;
    background-color: rgba(255, 255, 255, 0.9);
    text-shadow: none; }

.jv-btn-green {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 1;
  background-color: #96b36b;
  padding: 9px 13px;
  outline: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px; }
  .jv-btn-green:hover, .jv-btn-green:focus {
    color: #ffffff;
    background-color: #7c9459; }

.btn-wide {
  width: 100%;
  padding: 18px 0; }

.border-bottom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }

.title-group {
  margin-bottom: 52px; }

.read-more-btn {
  font-family: "poppins", sans-serif, Helvetica;
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  position: relative;
  border-bottom: 1px solid #666666;
  padding-bottom: 4px; }
  .read-more-btn:hover, .read-more-btn:focus {
    color: #666666;
    opacity: 0.9;
    text-decoration: none; }

.yoga-practices {
  color: #ffffff;
  padding: 30px 0 25px 30px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.9; }
  .yoga-practices a {
    color: #ffffff;
    position: relative;
    line-height: 1.9; }
    .yoga-practices a:after {
      bottom: -4px !important; }
@media(max-width: 1199px) {
  .yoga-practices {
    text-align: center; } }
@media(max-width: 992px) {
  .yoga-practices {
    padding: 30px 0; } }
.entry-content {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
  color: #666666;
  margin-bottom: 35px; }
  .entry-content a {
    font-weight: 600;
    color: #666666; }
    .entry-content a:hover {
      color: #8c7036; }
  .entry-content p {
    margin-bottom: 10px; }

.copyright-block {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0; }
  .copyright-block .copy-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    list-style-type: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 0; }
    @media all and (max-width: 767px) {
      .copyright-block .copy-list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding-left: 4px; } }
    .copyright-block .copy-list .copy-item {
      padding: 0 10px;
      line-height: 1; }
      .copyright-block .copy-list .copy-item:last-of-type {
        border-left: 1px solid #ffffff; }
    .copyright-block .copy-list a {
      color: #ffffff; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.template-title-group {
  margin-bottom: 40px; }

@media(min-width: 992px) {
  .body-padding {
    padding-top: 89px; } }
.semi-bold {
  font-weight: 600; }

.site-header {
  border-bottom: 2px solid rgba(140, 112, 54, 0.2);
  position: relative; }
  .site-header .site-logo {
    height: 83px;
    padding: 6px 0; }
    .site-header .site-logo img {
      height: 100%; }
      .site-header .site-logo img.big-logo {
        display: none; }
      .site-header .site-logo img.small-logo {
        display: block; }
  .site-header .nav-header {
    background-color: #ffffff;
    font-size: 13px;
    text-transform: uppercase; }
    .site-header .nav-header .navbar-collapse.collapse {
      position: relative; }
      .site-header .nav-header .navbar-collapse.collapse .head-search {
        position: absolute;
        right: 0;
        cursor: pointer;
        width: 60px;
        height: 100%; }
        .site-header .nav-header .navbar-collapse.collapse .head-search.open {
          background-color: rgba(0, 0, 0, 0.1); }
        .site-header .nav-header .navbar-collapse.collapse .head-search a {
          color: #a38d5e;
          padding: 33px 15px 28px;
          display: block;
          font-size: 16px;
          text-align: center; }
        .site-header .nav-header .navbar-collapse.collapse .head-search .dropdown-menu {
          border: 2px solid #8c7036;
          padding: 2px 5px;
          left: inherit;
          right: 0;
          top: 110%;
          border-radius: 5px; }
          .site-header .nav-header .navbar-collapse.collapse .head-search .dropdown-menu:before {
            content: "";
            width: 10px;
            border-bottom: 6px solid #8c7036;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            position: absolute;
            top: -8px;
            right: 22px;
            display: inline-block; }
        .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form {
          margin: 0;
          padding: 0;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center; }
          .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form input {
            border: none;
            outline: none;
            box-shadow: none;
            height: inherit;
            padding: 6px 12px;
            width: 199px !important; }
            .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form input::-webkit-input-placeholder {
              text-transform: uppercase; }
            .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form input::-moz-placeholder {
              text-transform: uppercase; }
            .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form input:-moz-placeholder {
              text-transform: uppercase; }
            .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form input:-ms-input-placeholder {
              text-transform: uppercase; }
          .site-header .nav-header .navbar-collapse.collapse .head-search .navbar-form .jiva-submit-btn {
            background-color: #8c7036;
            color: #ffffff;
            width: 30px;
            height: 30px;
            line-height: 1;
            text-align: center;
            padding: 0;
            font-size: 15px; }
        .site-header .nav-header .navbar-collapse.collapse .head-search.open, .site-header .nav-header .navbar-collapse.collapse .head-search.open:hover {
          background-color: #a38d5e; }
          .site-header .nav-header .navbar-collapse.collapse .head-search.open a, .site-header .nav-header .navbar-collapse.collapse .head-search.open:hover a {
            color: #ffffff; }
      .site-header .nav-header .navbar-collapse.collapse .head-navbar {
        width: 100%;
        padding-right: 45px; }
        .site-header .nav-header .navbar-collapse.collapse .head-navbar li {
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(4) {
            float: right; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(4) ul.dropdown-menu {
              left: inherit; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(5), .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(6) {
            float: right; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar li.active a, .site-header .nav-header .navbar-collapse.collapse .head-navbar li.open a, .site-header .nav-header .navbar-collapse.collapse .head-navbar li.current-menu-parent a {
            background-color: #a38d5e;
            color: #ffffff; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu {
            right: 0;
            z-index: 1000;
            min-width: 250px;
            padding: 0;
            border: 0; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li {
              padding: 0;
              float: none; }
              .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
                padding: 15px;
                font-size: 13px;
                background-color: #ffffff;
                color: #a38d5e;
                text-transform: none; }
                .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a:hover {
                  background-color: #a38d5e;
                  color: #ffffff; }
        .site-header .nav-header .navbar-collapse.collapse .head-navbar a {
          color: #a38d5e;
          padding: 35px 27px;
          line-height: 1;
          font-weight: 400;
          letter-spacing: 2px; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar a:hover, .site-header .nav-header .navbar-collapse.collapse .head-navbar a:focus {
            background-color: #a38d5e;
            color: #ffffff; }
@media(max-width: 1200px) {
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li a {
    padding: 35px 18px;
    letter-spacing: 1px;
    font-weight: 300; } }
@media(max-width: 991px) {
  .site-header {
    border-bottom: none;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000; }
    .site-header .site-logo {
      display: none; }
    .site-header .nav-header {
      background-color: transparent; }
      .site-header .nav-header .container {
        width: 100% !important; }
        .site-header .nav-header .container .icon-bar {
          background-color: #8c7036;
          height: 3px; }
      .site-header .nav-header .navbar-collapse.collapse {
        width: 0;
        height: 100vh !important;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        max-height: 100vh !important;
        overflow: auto !important;
        display: block !important;
        -moz-transition: 0.32s ease-in-out;
        -o-transition: 0.32s ease-in-out;
        -webkit-transition: 0.32s ease-in-out;
        transition: 0.32s ease-in-out;
        -moz-transform: translateX(300px);
        -o-transform: translateX(300px);
        -ms-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        background-color: #8c7036;
        z-index: 1000; }
        .site-header .nav-header .navbar-collapse.collapse .head-navbar {
          padding-right: 0; }
          .site-header .nav-header .navbar-collapse.collapse .head-navbar li {
            margin: 0;
            float: none;
            letter-spacing: 0; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(4), .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(5), .site-header .nav-header .navbar-collapse.collapse .head-navbar li:nth-child(6) {
              float: none;
              margin: 0; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li.active > a {
              text-decoration: none; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu {
              position: initial;
              float: none;
              width: auto;
              margin-top: 0;
              background-color: #8c7036;
              border: 0;
              -webkit-box-shadow: none;
              box-shadow: none;
              padding: 0 0 0 30px;
              text-transform: capitalize; }
              .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
                color: #ffffff;
                background-color: #8c7036; }
            .site-header .nav-header .navbar-collapse.collapse .head-navbar li a {
              color: #ffffff;
              padding: 15px; }
        .site-header .nav-header .navbar-collapse.collapse.in {
          width: 300px;
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);
          -webkit-transform: translateX(0);
          transform: translateX(0);
          padding-bottom: 50px; }
        .site-header .nav-header .navbar-collapse.collapse .head-search {
          position: initial;
          max-height: 60px;
          width: 100%; }
          .site-header .nav-header .navbar-collapse.collapse .head-search > a {
            display: none; }
          .site-header .nav-header .navbar-collapse.collapse .head-search .dropdown-menu {
            display: block !important;
            position: initial !important;
            margin: 15px 15px; } }
  .site-header.is-home {
    border-bottom: none; }
    .site-header.is-home .site-logo {
      height: 142px;
      padding: 16px 0;
      position: initial;
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }
      .site-header.is-home .site-logo img.big-logo {
        display: inline;
        margin: 0 auto; }
      .site-header.is-home .site-logo img.small-logo {
        display: none; }
    .site-header.is-home .nav-header {
      background-color: #8c7036; }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.menu-item-home > a {
        background-color: inherit; }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.open .dropdown-menu {
        border-right: 1px solid #8c7036;
        border-left: 1px solid #8c7036;
        border-bottom: 1px solid #8c7036;
        border-top: 0;
        border-radius: 0; }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.open > a {
        background-color: rgba(255, 255, 255, 0.25); }
        .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.open > a:hover, .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.open > a:focus, .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.open > a:active {
          background-color: rgba(255, 255, 255, 0.25); }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a {
        color: #ffffff;
        padding: 25px 27px; }
        .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a:hover, .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a:focus, .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a:active {
          background-color: rgba(0, 0, 0, 0.15); }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar .dropdown-menu li a:hover {
        background-color: #8c7036; }
      .site-header.is-home .nav-header .navbar-collapse.collapse .head-search a {
        color: #ffffff;
        padding: 21px 15px; }
@media(max-width: 1200px) {
  .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a {
    padding: 25px 18px; } }
@media(max-width: 991px) {
  .site-header.is-home .nav-header {
    background-color: transparent; } }
    .site-header.is-home.menu-fixed-top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      border-bottom: 2px solid rgba(140, 112, 54, 0.2); }
      .site-header.is-home.menu-fixed-top .site-logo {
        height: 83px;
        padding: 6px 0; }
        .site-header.is-home.menu-fixed-top .site-logo img.big-logo {
          display: none; }
        .site-header.is-home.menu-fixed-top .site-logo img.small-logo {
          display: block; }
      .site-header.is-home.menu-fixed-top .nav-header {
        background-color: #ffffff; }
        .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-search.open, .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-search.open:hover {
          background-color: #a38d5e; }
          .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-search.open a, .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-search.open:hover a {
            color: #ffffff; }
        .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-search a {
          color: #a38d5e;
          padding: 33px 15px 28px; }
        .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar .hover-parent a {
          background-color: #a38d5e;
          color: #ffffff; }
        .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu {
          margin-top: -1px; }
          .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
            padding: 15px 15px 15px 20px;
            background-color: #ffffff;
            color: #a38d5e;
            text-transform: none; }
            .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a:hover {
              background-color: #a38d5e;
              color: #ffffff; }
        .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar a {
          color: #a38d5e;
          padding: 35px 27px; }
          .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar a:hover {
            background-color: #a38d5e;
            color: #ffffff; }
@media(max-width: 1200px) {
  .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar a {
    padding: 35px 18px; } }
@media(max-width: 991px) {
  .site-header.is-home.menu-fixed-top {
    border-bottom: none; }
    .site-header.is-home.menu-fixed-top .site-logo {
      display: none; }
    .site-header.is-home.menu-fixed-top .nav-header {
      background-color: transparent; }
      .site-header.is-home.menu-fixed-top .nav-header .container {
        width: 100% !important; }
        .site-header.is-home.menu-fixed-top .nav-header .container .icon-bar {
          background-color: #8c7036;
          height: 3px; }
      .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li.active > a {
        text-decoration: none; }
      .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
        color: #ffffff;
        background-color: #8c7036; }
      .site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li a {
        color: #ffffff;
        padding: 15px 15px 15px 20px; } }
.search-icon {
  display: block;
  height: 100%;
  background-position: 50%;
  background-size: 15px;
  background-repeat: no-repeat; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    margin: 0;
    padding: 12px;
    background-color: #f4f1eb;
    border-radius: 0;
    border-bottom-left-radius: 5px; }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 0; }

  .navbar-nav > li {
    float: none; }

  .collapsing {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh !important;
    -moz-transition-property: 0s !important;
    -o-transition-property: 0s !important;
    -webkit-transition-property: 0s !important;
    transition-property: 0s !important;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding: 15px;
    opacity: 1;
    visibility: visible !important;
    background-color: #8c7036; } }
.close-button {
  display: none;
  cursor: pointer;
  text-align: right;
  padding-right: 10px; }
  .close-button .close-btn {
    position: relative;
    top: -5px;
    width: 30px;
    height: 22px;
    display: inline-block; }
    .close-button .close-btn:before, .close-button .close-btn:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 22px;
      background-color: #ffffff;
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .close-button .close-btn:after {
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
  @media (max-width: 992px) {
    .close-button {
      display: block; } }

.mobile-logo {
  display: none; }
@media(max-width: 991px) {
  .mobile-logo {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto; }
    .mobile-logo img {
      height: 90px; } }
@media(max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 0; } }
@media(min-width: 992px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0; } }
.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li.hover-parent a {
  background-color: rgba(0, 0, 0, 0.15); }

.site-header.is-home.menu-fixed-top .nav-header .navbar-collapse.collapse .head-navbar li.hover-parent a {
  background-color: #a38d5e;
  color: #ffffff; }

.site-header .nav-header .navbar-collapse.collapse .head-navbar li.hover-parent a {
  background-color: #a38d5e;
  color: #ffffff; }

.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
  padding: 15px;
  font-size: 13px;
  background-color: #ffffff;
  color: #a38d5e;
  text-transform: none; }

.site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a:hover {
  color: #ffffff; }

.site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li.active a {
  background-color: #a38d5e;
  color: #ffffff; }

@media(max-width: 991px) {
  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a {
    color: #ffffff;
    background-color: #8c7036; }
    .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu li a:hover {
      background: rgba(0, 0, 0, 0.15); }

  .site-header .nav-header .navbar-collapse.collapse .head-navbar li a {
    padding: 15px 15px 15px 20px !important;
    font-weight: 400; }
    .site-header .nav-header .navbar-collapse.collapse .head-navbar li a.clicked {
      background-color: #a38d5e;
      color: #ffffff; }

  .site-header .nav-header .navbar-collapse.collapse .head-navbar {
    margin: 0; }

  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open {
    padding: 0;
    margin-top: 0 !important;
    margin-left: 1px;
    margin-right: 1px;
    background-color: white;
    border-radius: 0;
    padding: 0;
    border-top: 1px solid #8c7036; }

  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open a {
    color: #8c7036 !important;
    background-color: transparent !important; }

  .site-header .nav-header .navbar-collapse.collapse .head-navbar li .dropdown-menu.open a:hover {
    background-color: #a38d5e !important;
    color: #ffffff !important; }

  .site-header .nav-header .navbar-collapse.collapse {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0; } }
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }

@media(max-width: 991px) {
  .dropdown-menu.open {
    display: block; }

  .dropdown-toggle i {
    font-size: 14px;
    position: absolute;
    right: 13px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9; }

  .plus, .minus {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    right: 20px;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  .plus {
    background: url("../../images/plus.png") 50% 50% no-repeat; }

  .minus {
    background: url("../../images/minus.png") 50% 50% no-repeat; } }
.carousel ol.carousel-indicators {
  bottom: 5px;
  margin-left: -31%; }
  .carousel ol.carousel-indicators li {
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 25px;
    border: none;
    border-radius: 50%; }
    @media all and (max-width: 767px) {
      .carousel ol.carousel-indicators li {
        margin-right: 20px; } }
    .carousel ol.carousel-indicators li.active {
      background-color: #fff; }
.carousel .carousel-inner .item:before {
  content: none !important; }
.carousel .carousel-inner .item .fill {
  height: 500px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media all and (min-width: 1350px) and (max-width: 1366px) {
    .carousel .carousel-inner .item .fill {
      height: 380px; } }
  @media all and (min-width: 1024px) and (max-width: 1025px) {
    .carousel .carousel-inner .item .fill {
      height: 445px; } }
  @media all and (max-width: 991px) {
    .carousel .carousel-inner .item .fill {
      height: 400px; } }
  @media all and (max-width: 767px) {
    .carousel .carousel-inner .item .fill {
      height: 250px; } }
.carousel .carousel-inner .item .carousel-caption {
  bottom: 77px; }
  @media all and (max-width: 767px) {
    .carousel .carousel-inner .item .carousel-caption {
      bottom: 47px; } }
  .carousel .carousel-inner .item .carousel-caption .caption h1 {
    font-family: Trajan Pro;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 29px;
    color: #ffffff; }
    @media all and (max-width: 767px) {
      .carousel .carousel-inner .item .carousel-caption .caption h1 {
        font-size: 26px;
        margin-bottom: 18px; } }
    @media all and (max-width: 480px) {
      .carousel .carousel-inner .item .carousel-caption .caption h1 {
        font-size: 18px; } }
  .carousel .carousel-inner .item .carousel-caption .caption .caption-button {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 28px;
    border: 2px solid #adb2b0;
    border-radius: 5px;
    letter-spacing: 1.5px;
    display: inline-block; }
  @media all and (max-width: 480px) {
    .carousel .carousel-inner .item .carousel-caption .caption .slider-btn {
      padding: 10px;
      width: 80%; } }
.carousel .carousel-inner .carousel-control {
  opacity: 1;
  background-image: none;
  top: 49%;
  transform: translateY(-50%);
  bottom: inherit;
  width: 9%;
  cursor: pointer; }
  @media all and (max-width: 767px) {
    .carousel .carousel-inner .carousel-control {
      width: 30px; } }
  .carousel .carousel-inner .carousel-control:hover, .carousel .carousel-inner .carousel-control:focus {
    opacity: 0.8; }

.owl-carousel .fill {
  height: 500px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: none; }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .owl-carousel .fill {
      height: 380px; } }
  @media all and (min-width: 1200px) and (max-width: 1600px) {
    .owl-carousel .fill {
      height: 380px; } }
  @media all and (min-width: 1024px) and (max-width: 1025px) {
    .owl-carousel .fill {
      height: 445px; } }
  @media all and (max-width: 991px) {
    .owl-carousel .fill {
      height: 400px; } }
  @media all and (max-width: 767px) {
    .owl-carousel .fill {
      height: 250px; } }
.owl-carousel .carousel-caption {
  bottom: 77px; }
  @media all and (max-width: 767px) {
    .owl-carousel .carousel-caption {
      bottom: 47px; } }
  .owl-carousel .carousel-caption .caption h1 {
    font-family: Trajan Pro;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 29px;
    color: #ffffff; }
    @media all and (max-width: 767px) {
      .owl-carousel .carousel-caption .caption h1 {
        font-size: 26px;
        margin-bottom: 18px; } }
    @media all and (max-width: 480px) {
      .owl-carousel .carousel-caption .caption h1 {
        font-size: 18px; } }
  .owl-carousel .carousel-caption .caption .caption-button {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 28px;
    border: 2px solid #adb2b0;
    border-radius: 5px;
    letter-spacing: 1.5px;
    display: inline-block; }
  @media all and (max-width: 480px) {
    .owl-carousel .carousel-caption .caption .slider-btn {
      padding: 10px;
      width: 80%; } }
.owl-carousel .owl-nav {
  position: absolute;
  top: 37%;
  width: 100%; }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    background: none; }
    .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
      background: none; }
      .owl-carousel .owl-nav .owl-prev:hover img, .owl-carousel .owl-nav .owl-next:hover img {
        opacity: 0.7; }
    @media all and (max-width: 767px) {
      .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        width: 40px; } }
  .owl-carousel .owl-nav .owl-prev {
    float: left;
    margin-left: 35px; }
    @media all and (max-width: 767px) {
      .owl-carousel .owl-nav .owl-prev {
        margin-left: 0; } }
  .owl-carousel .owl-nav .owl-next {
    float: right;
    margin-right: 35px; }
    @media all and (max-width: 767px) {
      .owl-carousel .owl-nav .owl-next {
        margin-right: 0; } }
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 17px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 15;
  width: 60%;
  padding-left: 0;
  text-align: center;
  list-style: none; }
  .owl-carousel .owl-dots .owl-dot:not(:last-of-type) {
    margin-right: 16px; }
    @media all and (max-width: 480px) {
      .owl-carousel .owl-dots .owl-dot:not(:last-of-type) {
        margin-right: 20px; } }
  .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #ffffff; }
  .owl-carousel .owl-dots .owl-dot:hover span {
    background: #ffffff; }
  .owl-carousel .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    margin: 0; }

.jv-video-block .video-content {
  height: 100%;
  padding: 2.48% 0; }
@media(min-width: 1200px) {
  .jv-video-block .embed-responsive {
    margin-right: 50px; } }
.jv-video-block .content-description {
  width: 65%;
  margin: 0 auto 30px; }
  .jv-video-block .content-description p {
    margin-bottom: 10px; }
.jv-video-block .jv-btn {
  padding-left: 4%;
  padding-right: 4%; }
@media(max-width: 1200px) {
  .jv-video-block .video-content {
    padding: 1.2% 0; }
  .jv-video-block .content-title, .jv-video-block .content-description {
    margin-bottom: 3%; }
  .jv-video-block .content-description {
    width: 75%; } }
@media(max-width: 992px) {
  .jv-video-block .content-title {
    font-size: 25px; }
  .jv-video-block .video-content {
    padding: 1.1% 0; }
  .jv-video-block .content-title, .jv-video-block .content-description {
    margin-bottom: 3%; }
  .jv-video-block .content-description {
    font-size: 22px;
    line-height: 1.2;
    width: 77%; } }
@media(max-width: 767px) {
  .jv-video-block .video-content {
    padding: 25px 0; } }
.teacher-training-block {
  border: 1px solid #ece8dd;
  text-align: center; }
  .teacher-training-block .title-description p {
    margin-bottom: 10px; }
  .teacher-training-block .event-info-block .event-info-content {
    color: #ffffff; }
    .teacher-training-block .event-info-block .event-info-content .info-block-title {
      font-size: 17px;
      margin-bottom: 20px; }
    .teacher-training-block .event-info-block .event-info-content .info-country {
      font-family: "Trajan Pro", sans-serif, Helvetica;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px; }
@media(max-width: 767px) {
  .teacher-training-block .event-info-block .event-info-content .info-country {
    font-size: 23px; } }
    .teacher-training-block .event-info-block .event-info-content .info-date {
      font-family: "Trajan Pro", sans-serif, Helvetica;
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 29px; }
@media(max-width: 991px) {
  .teacher-training-block .event-info-block .event-info-content .info-date {
    margin-bottom: 17px; } }
@media(max-width: 767px) {
  .teacher-training-block .event-info-block .event-info-content .info-date {
    margin-bottom: 21px;
    font-size: 18px; } }
    .teacher-training-block .event-info-block .event-info-content .info-hour {
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 26px; }
@media(min-width: 767px) and (max-width: 991px) {
  .teacher-training-block .event-info-block .event-info-content .info-hour {
    margin-bottom: 17px; } }
.training-container:not(:last-of-type) {
  border-bottom: 2px solid #ffffff; }
.training-container .noimg-block {
  margin: 0 !important;
  width: 50%;
  min-height: 380px; }
@media(min-width: 1540px) {
  .training-container .noimg-block {
    min-height: 480px; } }
@media(max-width: 991px) {
  .training-container .noimg-block {
    min-height: 270px; } }
@media(max-width: 767px) {
  .training-container .noimg-block {
    min-height: 250px;
    width: 100%; } }
.training-container .training-item {
  width: 50%;
  min-height: 380px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out; }
@media(min-width: 1540px) {
  .training-container .training-item {
    min-height: 480px; } }
@media(max-width: 991px) {
  .training-container .training-item {
    min-height: 270px; } }
@media(max-width: 767px) {
  .training-container .training-item {
    min-height: 250px; } }
@media(max-width: 767px) {
  .training-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .training-container .training-item {
      width: 100%; }
    .training-container .training-item .info-block .info-country {
      margin-bottom: 7px; }
    .training-container .training-item .info-block .info-hour {
      margin-bottom: 16px; }
    .training-container .jv-btn {
      padding: 12px 22px; } }
@media(max-width: 400px) {
  .training-container .training-item .info-block .info-country {
    margin-bottom: 7px;
    font-size: 20px; }
  .training-container .training-item .info-block .info-hour {
    margin-bottom: 16px; } }
.teachers-block {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }
  .teachers-block .single-teacher {
    width: 25%;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 40px 45px;
    text-align: center;
    font-size: 17px;
    color: #666666; }
    .teachers-block .single-teacher .teacher-info {
      margin-bottom: 7px; }
    .teachers-block .single-teacher .teacher-img {
      display: block;
      height: 180px;
      width: 180px;
      margin: 0 auto;
      border-radius: 50%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-bottom: 11px; }
    .teachers-block .single-teacher .teacher-name a {
      font-weight: 600;
      color: #666666; }
@-moz-document url-prefix() {
  .teachers-block .single-teacher .teacher-name a {
    font-weight: 500; } }
    .teachers-block .single-teacher .teacher-hour {
      color: #999999;
      margin-top: -8px; }
@media(max-width: 991px) {
  .teachers-block .single-teacher {
    padding: 35px 15px 18px; } }
@media(max-width: 991px) {
  .teachers-block .single-teacher {
    width: 50%; }
    .teachers-block .single-teacher .teacher-img {
      padding-bottom: 0;
      margin: 0 auto 11px; } }
@media(max-width: 450px) {
  .teachers-block .single-teacher {
    width: 100%; } }
.shop-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 0 65px 60px; }
  .shop-container .shop-item {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 25%;
    max-width: 200px; }
    .shop-container .shop-item .shop-image {
      margin-bottom: 15px; }
      .shop-container .shop-item .shop-image img {
        max-width: 100%;
        max-height: 200px;
        margin: 0 auto;
        display: block; }
    .shop-container .shop-item .product-data {
      font-size: 17px;
      font-weight: 400;
      color: #666666;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 8px; }
      .shop-container .shop-item .product-data .pr-data-item {
        margin-bottom: 7px; }
      .shop-container .shop-item .product-data .product-name {
        font-weight: 600; }
@-moz-document url-prefix() {
  .shop-container .shop-item .product-data .product-name {
    font-weight: 500; } }
  .shop-container .entire-div-link {
    position: relative; }
    .shop-container .entire-div-link span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1; }
@media(max-width: 1199px) {
  .shop-container {
    padding: 35px 0 60px; } }
@media(max-width: 991px) {
  .shop-container {
    padding: 35px 15px 60px; }
    .shop-container .shop-item {
      width: 22%; }
      .shop-container .shop-item .shop-image img {
        max-height: 150px; } }
@media(max-width: 767px) {
  .shop-container {
    flex-wrap: wrap; }
    .shop-container .shop-item {
      width: 50%;
      max-width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      margin-bottom: 50px; }
      .shop-container .shop-item .product-data {
        max-width: 200px; } }
@media(max-width: 500px) {
  .shop-container {
    padding-bottom: 0;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .shop-container .shop-item {
      width: 100%;
      max-width: 250px; }
      .shop-container .shop-item .product-data {
        max-width: 100%; }
      .shop-container .shop-item .shop-image img {
        max-height: 250px; } }
.product-btn {
  width: 100%;
  padding: 18px 0;
  max-width: 200px; }
@media(max-width: 500px) {
  .product-btn {
    max-width: 100%; } }
.focus-moment-block {
  background-color: #f9f8f5; }
  .focus-moment-block .image-block {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-bottom: 50%;
    margin-left: 50px; }
  .focus-moment-block .description-block {
    padding-left: 30px;
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    font-family: "poppins", sans-serif, Helvetica;
    line-height: 1.9;
    width: 90%; }
    .focus-moment-block .description-block .title-group {
      margin-bottom: 26px; }
  .focus-moment-block .date-month {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1; }
  .focus-moment-block .date-moment {
    margin-bottom: 14px; }
@media(max-width: 1199px) {
  .focus-moment-block .image-block {
    margin-left: 0;
    padding-bottom: 60%; }
  .focus-moment-block .description-block {
    width: 100%; } }
@media(max-width: 991px) {
  .focus-moment-block .description-block {
    padding-left: 0; } }
@media(max-width: 767px) {
  .focus-moment-block .image-block {
    margin-bottom: 25px; } }

/*# sourceMappingURL=main1.css.map */
