$white:         #ffffff;
$lighter-gray:  #f9f8f5;
$line-gray:     #eeeae2;
$light-gray:    #999999;
$gray:          #666666;
$darkest-gray:  #333333;
$black:         #000000;
$main-brawn:    #8c7036;
$light-brawn:   #a38d5e;
$light-green:   #abc289;
$button-green:  #96b36b;
$h-green-btn:   #7c9459;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular : 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


  /*Fonts*/

$poppins: 'poppins';
$trajanPro: 'Trajan Pro';
$trajanPro3: 'Trajan Pro 3';

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@import "partials/mixin";
@import "partials/schedule";
@import "partials/wide-template";
@import "partials/fotm-post-type";
@import "partials/teacher-training";
@import "partials/teachers";
@import "partials/events";
@import "partials/contact-us";
@import "partials/spotlight";
@import "partials/archive-blog";
@import "partials/about";
@import "partials/search";
@import "partials/prices";
@import "partials/prerequisites";
@import "partials/nyc-classes-offerings";
@import "partials/404";
@import "partials/faq";
@import "partials/3-posts-line";
@import "partials/all";
@import "partials/footer";






@media (min-width: 1200px) {
  .jv-container {
    width: 1070px;
  }
}

/*Promotion banner */
.jv-promotion-block {
  .banner {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 70px 50px 0;

    @media all and (max-width: 1199px) {
      margin: 70px 0 0;
    }
    @media all and (max-width: 767px) {
      background-position: 15% 50%;
    }
    .banner-info {
      padding: 36px 10px 40px;
      width: 50%;
      float: right;
      text-align: center;
      @media all and (max-width: 767px) {
        width: 100%;
        float: none;
        padding: 21px 10px;
      }
      .banner-title {
        font:{
          family: $trajanPro;
          size: 26px;
          weight: $bold;
        }
        line-height: 36px;
        margin-bottom: 2px;
        display: block;
        text-transform: uppercase;
        @media all and (max-width: 767px) {
          line-height: 1;
        }
      }
      .banner-desc {
        font:{
          family: $poppins;
          size: 17px;
          weight: $regular;
        }
        line-height: 28px;
        color: $white;
        margin-bottom: 22px;
        @media all and (max-width: 767px) {
          line-height: 1.4;
          margin-bottom: 12px;
        }
        b, strong {
          font-weight: $semi-bold;
        }
      }

    }
  }
}
.pr-modal {
  position: fixed;
  top: 63px;
  right: 0;
  //right: -9999px;
  width: 100%;
  max-width: 340px;
  padding: 15px 30px 25px;
  text-align: center;
  background-color: $white;
  z-index: 9999;
  //display: none;
  @include transform(translateX(100%));
  @include transition(all 250ms cubic-bezier(0.165, 0.84, 0.44, 1));
  @media all and (max-width: 480px) {
    //position: absolute;
    //display: none;
  }
  &.active {
    @include transform(translateX(0));
    right: 0;
    box-shadow: -10px 10px 10px 0px rgba(153, 153, 153, 0.32);
    display: block;
  }
    .pr-modal-close {
      background: url('../../images/close.png');
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat:no-repeat;
      height: 17px;
      width: 17px;
      display: block;
      cursor: pointer;
      margin-left: auto;
      margin-right: -10px;
      img {
        display: block;
        margin-left: auto;
        margin-right: -10px;
        cursor: pointer;
      }
    }
   .pr-modal-title {
     font: {
       family: $trajanPro;
       size: 21px;
       weight: $bold;
     }
     line-height: 1;
     letter-spacing: 2.1px;
     color: $main-brawn;
     margin-bottom: 20px;
     @media all and (max-width: 480px) {
       margin-bottom: 10px;
     }
   }
  .pr-modal-img {
    height: 280px;
    background-position: 50% 50%;
    -webkit-background-size: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0 -30px 10px;
  }
  .pr-modal-desc {
    font-size: 17px;
    line-height: 36px;
    color: $gray;
    text-align: center;
    width: 80%;
    margin: 0 auto 10px;
  }
}
.site-header.is-home .site-logo img.big-logo {
  display: inline;
}

@media all and (min-width: 1350px) and (max-width: 1366px) {
  .site-header.is-home .site-logo {
    height: 110px;
    padding: 14px 0;
  }

  .site-header.is-home .nav-header .navbar-collapse.collapse .head-navbar li a {
    padding: 18px 27px;
  }
  .site-header.is-home .nav-header .navbar-collapse.collapse .head-search a {
    padding: 14px 15px;
  }
}










