@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/poppins-bold.eot');
  src: url('../fonts/Poppins/poppins-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-Bold.ttf') format('ttf'),
  url('../fonts/Poppins/poppins-bold.woff2') format('woff2'),
  url('../fonts/Poppins/poppins-bold.woff') format('woff'),
  url('../fonts/Poppins/poppins-bold.svg#poppinsbold') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/poppins-light.eot');
  src: url('../fonts/Poppins/poppins-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-Light.ttf') format('ttf'),
  url('../fonts/Poppins/poppins-light.woff2') format('woff2'),
  url('../fonts/Poppins/poppins-light.woff') format('woff'),
  url('../fonts/Poppins/poppins-light.svg#poppinslight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/poppins-medium.eot');
  src: url('../fonts/Poppins/poppins-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-Medium.ttf') format('ttf'),
  url('../fonts/Poppins/poppins-medium.woff2') format('woff2'),
  url('../fonts/Poppins/poppins-medium.woff') format('woff'),
  url('../fonts/Poppins/poppins-medium.svg#poppinsmedium') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/poppins-regular.eot');
  src: url('../fonts/Poppins/poppins-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
  url('../fonts/Poppins/poppins-regular.woff2') format('woff2'),
  url('../fonts/Poppins/poppins-regular.woff') format('woff'),
  url('../fonts/Poppins/poppins-regular.svg#poppinsregular') format('svg');
  font-weight: 400;
  font-style: normal;

}




@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins/poppins-semibold.eot');
  src: url('../fonts/Poppins/poppins-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-SemiBold.ttf') format('ttf'),
  url('../fonts/Poppins/poppins-semibold.woff2') format('woff2'),
  url('../fonts/Poppins/poppins-semibold.woff') format('woff'),
  url('../fonts/Poppins/poppins-semibold.svg#poppinssemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}