@font-face {
  font-family:'Trajan Pro';
  src: url('../fonts/TrajanPro/TrajanPro-Bold.eot');
  src: url('../fonts/TrajanPro/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro/TrajanPro-Bold.woff2') format('woff2'),
  url('../fonts/TrajanPro/TrajanPro-Bold.woff') format('woff'),
  url('../fonts/TrajanPro/TrajanPro-Bold.ttf') format('truetype'),
  url('../fonts/TrajanPro/TrajanPro-Bold.svg#TrajanPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Trajan Pro';
  src: url('../fonts/TrajanPro/TrajanPro-Regular.eot');
  src: url('../fonts/TrajanPro/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro/TrajanPro-Regular.woff2') format('woff2'),
  url('../fonts/TrajanPro/TrajanPro-Regular.woff') format('woff'),
  url('../fonts/TrajanPro/TrajanPro-Regular.ttf') format('truetype'),
  url('../fonts/TrajanPro/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family:'Trajan Pro 3';
  src: url('../fonts/TrajanPro/Trajan Pro 3 Bold.eot');
  src: url('../fonts/TrajanPro/Trajan Pro 3 Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro/Trajan Pro 3 Bold.woff2') format('woff2'),
  url('../fonts/TrajanPro/Trajan Pro 3 Bold.woff') format('woff'),
  url('../fonts/TrajanPro/Trajan Pro 3 Bold.ttf') format('truetype'),
  url('../fonts/TrajanPro/Trajan Pro 3 Bold.svg#Trajan Pro 3 Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Trajan Pro 3';
  src: url('../fonts/TrajanPro/Trajan Pro 3.eot');
  src: url('../fonts/TrajanPro/Trajan Pro 3.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrajanPro/Trajan Pro 3.woff2') format('woff2'),
  url('../fonts/TrajanPro/Trajan Pro 3.woff') format('woff'),
  url('../fonts/TrajanPro/Trajan Pro 3.ttf') format('truetype'),
  url('../fonts/TrajanPro/Trajan Pro 3.svg#Trajan Pro 3') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}